<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

<!-- Main -->

<main id="main" class="main">
	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" name="thisPage" th:value="${vo.thisPage}"
			default="1" /> <input type="hidden" id="rowNumToShow"
			name="rowNumToShow" th:value="${vo.rowNumToShow}" />
		<div class="pagetitle">

			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">회원관리</li>
					<li class="breadcrumb-item active">회원관리</li>
				</ol>
			</nav>

			<h1 style="font-weight: bold;">회원관리</h1>

			<div class="row mb-3 mt-3">
				<div class="col-2">
					<select class="form-select">
						<option selected>N</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-select">
						<option selected>사용여부</option>
						<option value="1">Y</option>
						<option value="2">N</option>
					</select>
				</div>
				<div class="col-2">
					<select class="form-select">
						<option selected>날짜</option>
						<option value="1">등록일</option>
						<option value="2">수정일</option>
					</select>
				</div>
				<div class="col-2">
					<input type="text" class="form-control" placeholder="2025-01-05">
				</div>
				<div class="col-2">
					<input type="text" class="form-control" placeholder="2025-02-04">
				</div>
			</div>

			<div class="row mb-3 mt-3">
				<div class="col-2">
					<select class="form-select">
						<option selected>검색구분</option>
						<option value="1">코드그룹 코드</option>
						<option value="2">코드그룹 이름</option>
						<option value="3">코드그룹 이름(영문)</option>
					</select>
				</div>
				<div class="col-2">
					<input type="text" class="form-control" placeholder="검색어">
				</div>
				<div class="col-2">
					<a href="/codeGroupXdmList" class="btn btn-outline-secondary"
						title="Upload new profile image" id="search"> <i
						class="ri-search-line"></i>
					</a> <a href="/codeGroupXdmList" class="btn btn-outline-secondary">
						<i class="ri-reset-right-line"></i>
					</a>
				</div>
			</div>

		</div>

		<!-- End Page Title -->


		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body m-2">

							<div class="row">
								<div class="col">
									<h5 class="card-title" th:text="|Total: ${vo.totalRows}|"></h5>
								</div>
								<div class="col-2 pt-2" style="float: right;">
									<select class="form-select">
										<option selected>5</option>
										<option value="1">10</option>
										<option value="2">15</option>
										<option value="3">20</option>
									</select>
								</div>
							</div>

							<!-- Table with stripped rows -->
							<div class="row">
								<table class="table table-hover">
									<thead>
										<tr>
											<th><input class="form-check-input" type="checkbox"
												id="selectAllCheckbox" onclick="toggleSelectAll(this)">
											</th>
											<th>#</th>
											<th>이메일</th>
											<th>닉네임</th>
											<th>이름</th>
											<th>성</th>
											<th>생일</th>
											<th>전화번호</th>
											<th>관리자</th>
										</tr>
									</thead>
									<tbody>
									
										<tr th:if="${#lists.isEmpty(list)}">
											<td colspan=9 style="text-align: center"><p>There
													are no data!</p></td>
										</tr>
										<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
											<td><input class="form-check-input rowCheckbox"
												type="checkbox"></td>
											<td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
											<td th:text="${list.email}"></td>
											<td th:text="${list.nickname}"></td>
											<td th:text="|${list.lastNm} ${list.firstNm}|" style="color: blue"></td>
											<!-- <td th:text="${list.gender}"></td> -->
											<td th:if="${list.gender == 1}">남</td>
											<td th:if="${list.gender == 2}">여</td>
											<td th:if="${list.gender == 3}">공개안함</td>
											<td th:text="|${list.birthYear}년 ${list.birthMonth}월 ${list.birthDay}일|"></td>
											<td th:text="${list.phone}"></td>
											<td th:text="${list.admin} == 1 ? 'Y' : 'N' "></td>
										</tr>

									</tbody>
								</table>
							</div>
							<!-- End Table with stripped rows -->

							<!-- Pagination with icons -->
							<div class="row">
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">

										<li th:if="${vo.startPage gt vo.pageNumToShow}"
											class="page-item" style="cursor: pointer;"><a
											class="page-link"
											href="javascript:goList(${vo.startPage - 1})"
											th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
												class="fa-solid fa-angle-left"></i>
										</a></li>
										<li
											th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
											th:classappend="${num eq vo.thisPage} ? active : ''"
											class="page-item" style="cursor: pointer;"><a
											class="page-link" th:attr="onclick=|goList('${num}')|"
											th:text="${num}">
												<!-- ${i.index} -->
										</a></li>
										<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
											style="cursor: pointer;"><a class="page-link"
											th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
												class="fa-solid fa-angle-right"></i>
										</a></li>

									</ul>
								</nav>
							</div>
							<!-- End Pagination with icons -->

							<div class="row">
								<div class="col">
									<a href="#" class="btn btn-danger"
										title="Upload new profile image"> <i
										class="ri-close-large-line"></i>
									</a> <a href="#" class="btn btn-danger"
										title="Remove my profile image"> <i
										class="ri-delete-bin-line"></i>
									</a>
								</div>
								<div class="col">
									<div style="float: right;">
										<a href="#" class="btn btn-success"
											title="Remove my profile image"> <i
											class="ri-file-excel-line"></i>
										</a> <a href="/codeGroupXdmRegister" class="btn btn-primary">
											<i class="ri-add-line"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

	</form>
</main>

<!-- End #main -->

<!-- temp -->
<script type="text/javascript">
	
		// 전체 선택/해제 함수
		function toggleSelectAll(source) {
		    // 모든 체크박스를 선택하는 선택자
		    const checkboxes = document.querySelectorAll('.rowCheckbox');
		    
		    // 모든 체크박스에 대해 상태를 '전체 선택' 체크박스 상태에 맞게 설정
		    checkboxes.forEach((checkbox) => {
		        checkbox.checked = source.checked;
		    });
		}

		let form = document.querySelector("form[name=formList]");
		goList = function (thisPage) {
		    document.querySelector("input[name=thisPage]").value = thisPage;
		    form.action = "/memberXdmList";
		    form.submit();
		}
				
	
	</script>

<!-- ******************************************************************************* -->

<div th:replace="~{xdm/include/footer :: footer}"></div>