<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

<!-- Main -->
<main id="main" class="main">
	<!-- Page Title Start -->
	<div class="pagetitle mb-5">
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/xdm/index">Home</a></li>
				<li class="breadcrumb-item">서비스 관리</li>
				<li class="breadcrumb-item active">주문 관리</li>
			</ol>
		</nav>
		<h1 style="font-weight: bold;">주문 관리</h1>
	</div>
	<!-- Page Title End -->

	<section class="section">
		<input type="hidden"name="ifcgSeq" th:value="${item?.ifcgSeq}">
		<div class="row">
			<div class="col-lg-12">
				<!-- Order Master Card Start -->
				<div class="card">
					<h5 class="card-header" style="font-weight: bold; color: #4b4b4b;">주문 상세</h5>
					<div class="card-body m-2">
						<div class="row p-3">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">주문 번호</th>
										<th class="text-center">이름</th>
										<th class="text-center">주문일</th>
										<th class="text-center">가격</th>
										<th class="text-center">주문 상태</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center" th:text="${orderMaster.orderMasterId}"></td>
										<td class="text-center" th:text="${orderMaster.memberName}"></td>
										<td class="text-center" th:text="${orderMaster.createdAt}"></td>
										<td class="text-center" th:text="'￦ ' + ${#numbers.formatInteger(orderMaster.price, 1, 'COMMA')}"></td>
										<td class="text-center" th:text="${orderMaster.statusName}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="row">
							<div class="col">
								<a href="/xdm/service/order/list" class="btn btn-outline-secondary">
									<i class="ri-list-check"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Order Master Card End -->
				
				<!-- Order Details Card Start -->
				<div class="card">
					<div class="card-body m-2">
						<div class="row p-3">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">메뉴명</th>
										<th class="text-center">가격</th>
										<th class="text-center">개수</th>
										<th class="text-center">합계</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${list}">
										<td class="text-center" th:text="${item.productName}"></td>
										<td class="text-center" th:text="'￦ ' + ${#numbers.formatInteger(item.orderDetailPrice, 1, 'COMMA')}"></td>
										<td class="text-center" th:text="${item.quantity}"></td>												
										<td class="text-center" th:text="'￦ ' + ${#numbers.formatInteger(item.orderDetailPrice * item.quantity, 1, 'COMMA')}"></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td></td>
										<td></td>
										<td class="text-center">TOTAL</td>
										<td class="text-center" th:text="'￦ ' + ${#numbers.formatInteger(orderMaster.price, 1, 'COMMA')}"></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<!-- Order Details Card End -->
			</div>
		</div>
	</section>
</main>
<!-- End #main -->

<div th:replace="~{xdm/include/footer :: footer}"></div>