<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>TableOrder-Admin</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/xdm/template/AdminUI/assets/img/favicon.png" rel="icon">
<link href="/xdm/template/AdminUI/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	  rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/xdm/template/AdminUI/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/xdm/template/AdminUI/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/xdm/template/AdminUI/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/xdm/template/AdminUI/assets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/xdm/template/AdminUI/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/xdm/template/AdminUI/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/xdm/template/AdminUI/assets/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/xdm/template/AdminUI/assets/css/style.css" rel="stylesheet">

<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
<script src="/xdm/jquery/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/xdm/css/jquery.datetimepicker.css">
<script src="/xdm/js/jquery.datetimepicker.full.js"></script>
  
</head>

<body>
	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">
		<!-- Logo Start -->
		<div class="d-flex align-items-center justify-content-between">
			<a href="/xdm/index" class="logo d-flex align-items-center"> 
				<img src="/xdm/template/AdminUI/assets/img/logo.png" alt="">
				<span class="d-none d-lg-block">TableOrder Admin</span>
			</a> 
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div>
		<!-- Logo End -->
		<!-- Profile Start -->
		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">
				<li class="nav-item dropdown pe-3">
					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> 
						<i class="bi bi-person-circle fs-1"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li>
							<button type="button" id="signOut" class="dropdown-item d-flex align-items-center"> 
								<i class="bi bi-box-arrow-right"></i> <span>로그아웃</span>
							</button>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- Profile End -->
		<script>

		$("#signOut").on("click", function(){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/Xdm/signoutXdmProc"
				,data: {}
				,success: function(response) {
					if(response.rt == "success") {
						location.href = "/Xdm/loginXdm";
					} else {
						// by pass
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		});
		
		</script>
	</header>
	<!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">
		<ul class="sidebar-nav" id="sidebar-nav">
			<!-- Home Start -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/xdm/index"> 
					<i class="bi bi-grid"></i> <span>Home</span>
				</a>
			</li>
			<!-- Home End -->

			<!-- 회원 관리 Start -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/xdm/member/list"> 
					<i class="bi bi-people"></i> <span>회원 관리</span>
				</a>
			</li>
			<!-- 회원 관리 End -->

			<!-- 서비스 관리 Start -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#products-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-display"></i>
					<span>서비스 관리</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="products-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<li>
						<a href="/xdm/service/product/list"> 
							<i class="bi bi-circle"></i>
							<span>메뉴 관리</span>
						</a>
					</li>
					<li>
						<a href="/xdm/service/order/list"> 
							<i class="bi bi-circle"></i>
							<span>주문 관리</span>
						</a>
					</li>
					<li>
						<a href="/xdm/service/review/list"> 
							<i class="bi bi-circle"></i>
							<span>리뷰 관리</span>
						</a>
					</li>
				</ul>
			</li>
			<!-- 서비스관리 End -->

			<!-- 시스템관리 Start -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#system-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-gear"></i>
					<span>시스템 관리</span>
					<i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="system-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
					<li>
						<a href="/xdm/system/code/list" class=""> 
							<i class="bi bi-circle"></i>
							<span>코드 관리</span>
						</a>
					</li>
					<li>
						<a href="/xdm/system/codegroup/list" class=""> 
							<i class="bi bi-circle"></i>
							<span>코드그룹 관리</span>
						</a>
					</li>
				</ul>
			</li>
			<!-- 시스템관리 End -->

			<!-- 메일 테스트 -->
<!-- 			<li class="nav-item">
				<a class="nav-link collapsed" href="/mail"> 
					<i class="bi bi-people"></i> <span>메일 테스트</span>
				</a>
			</li> -->
			<!-- 메일 테스트 -->
			
		</ul>
	</aside>
	<!-- End Sidebar-->
</th:block>