<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/head :: head}"></div>

<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5 mt-5">
        <h1 class="mb-4 mt-5">결제</h1>
        <form action="/tableOrder/order/completed" method="post">
        
        	<div id="orderDetails">
             <!-- Ajax -->
            </div>
            
        </form>
    </div>
</div>
<!-- Checkout Page End -->
    
<script src="https://js.tosspayments.com/v2/standard"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
	// 장바구니 출력
	loadCartList();
	
	// 장바구니 이벤트 위임
    document.getElementById("orderDetails").addEventListener("click", function (e) {
        const cartItem = e.target.closest(".item-row");
        if (!cartItem) return;

        const cartIdInput = cartItem.querySelector("input[name='cartId']");
        if (!cartIdInput) return;

        const cartId = cartIdInput.value;

        // + 버튼
        if (e.target.closest(".btn-plus")) {
            updateCart(1, cartId);
        }
        // - 버튼
        else if (e.target.closest(".btn-minus")) {
            updateCart(-1, cartId);
        }
        // 삭제 버튼
        else if (e.target.closest(".btn-delete")) {
            updateCart(0, cartId);
        }
    });
	
});

// 장바구니 리스트 로드
function loadCartList() {
    fetch(`/tableOrder/order/checkout/orderDetails`)
        .then(response => response.text())
        .then(html => {
            document.getElementById("orderDetails").innerHTML = html;
            updateTotalSum();

        })
        .catch(error => {
            console.error("장바구니 로딩 실패:", error);
        });
}

// 총합 계산
function updateTotalSum(){
	let sum = 0;
	document.querySelectorAll(".item-row").forEach(function(row) {
        const totalCell = row.querySelector(".item-total");
        const text = totalCell.textContent.replace("원", "").trim();
        const number = parseInt(text.replace(/,/g, ""));
        sum += number;
	});
	document.getElementById("odTotalPrice").value = sum;
	document.querySelector(".total-sum").textContent = sum.toLocaleString() + " 원";
}

//장바구니 수정
function updateCart(qty, cartId) {
    fetch('/tableOrder/cart/update', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `qty=${qty}&cartId=${cartId}`
    })
        .then(response => {
            if (!response.ok) throw new Error("업데이트 실패");
            return response.text();
        })
        .then(data => {
            console.log("업데이트 성공", data);
            loadCartList(); // 성공 후 다시 장바구니 로드
        })
        .catch(error => {
            console.error("에러:", error);
            alert("장바구니 수량 변경 중 문제가 발생했습니다.");
        });
}

// 토스 페이
// ------  SDK 초기화 ------
// @docs https://docs.tosspayments.com/sdk/v2/js#토스페이먼츠-초기화
const clientKey = "test_ck_nRQoOaPz8Lxz2KndYGEe8y47BMw6";
const customerKey = "haiwcxeVmfIN3FzlmAmV7";
const tossPayments = TossPayments(clientKey);
// 회원 결제
// @docs https://docs.tosspayments.com/sdk/v2/js#tosspaymentspayment
const payment = tossPayments.payment({ customerKey });
// 비회원 결제
// const payment = tossPayments.payment({customerKey: TossPayments.ANONYMOUS})

// ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
// @docs https://docs.tosspayments.com/sdk/v2/js#paymentrequestpayment
async function requestPayment() {

	const orderId = 'ORDER-' + Date.now() + '-' + Math.floor(Math.random() * 1000000);
  // const orderName = document.getElementById("title").value;
  // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
  // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
  await payment.requestPayment({
    method: "CARD", // 카드 결제
    amount: {
      currency: "KRW",
      value: 1,
    },
    orderId: orderId, // 고유 주문번호
    orderName: "버거",
    successUrl: window.location.origin + 
    			"/tableOrder/order/completed", // 결제 요청이 성공하면 리다이렉트되는 URL,
    failUrl: window.location.origin + "/fail", // 결제 요청이 실패하면 리다이렉트되는 URL
    // 카드 결제에 필요한 정보
    card: {
      useEscrow: false,
      flowMode: "DEFAULT", // 통합결제창 여는 옵션
      useCardPoint: false,
      useAppCardOnly: false,
    },
  });
}
			
</script>

<div th:replace="~{usr/include/footer :: footer}"></div>