<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/head :: head}"></div>

    <!-- Checkout Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5 mt-5">
            <h1 class="mb-4 mt-5">결제</h1>


            <form action="/tableOrder/order/completed" method="post">
            
            	<div id="orderDetails">
	                <!-- Ajax -->
                </div>
                
            </form>
        </div>
    </div>
    <!-- Checkout Page End -->
    
<script>
document.addEventListener("DOMContentLoaded", function () {
	// 장바구니 출력
	loadCartList();
	
	
});

// 장바구니 리스트 로드
function loadCartList() {
    fetch(`/tableOrder/order/checkout/orderDetails`)
        .then(response => response.text())
        .then(html => {
            document.getElementById("orderDetails").innerHTML = html;

        })
        .catch(error => {
            console.error("장바구니 로딩 실패:", error);
        });
}

	
// 			document.addEventListener("DOMContentLoaded", function(){
// 			    document.getElementById("tbody").addEventListener("click", function(e) {
// 			        // 수량 증가
// 			        if (e.target.closest(".btn-plus")) {
// 			            const row = e.target.closest(".item-row");
// 			            const qtyInput = row.querySelector(".item-qty");
// 			            let quantity = parseInt(qtyInput.value);
// 			            qtyInput.value = ++quantity;
// 			            updateItemTotal(row);
// 			            updateTotalSum();
// 			        }
		
// 			        // 수량 감소
// 			        if (e.target.closest(".btn-minus")) {
// 			            const row = e.target.closest(".item-row");
// 			            const qtyInput = row.querySelector(".item-qty");
// 			            let quantity = parseInt(qtyInput.value);
// 			            if (quantity > 1) {
// 			                qtyInput.value = --quantity;
// 			                updateItemTotal(row);
// 			            }
// 			            updateTotalSum();
// 			        }
// 			    });
		
// 			    function updateItemTotal(row) {
// 			        const priceText = row.querySelector("td:nth-child(3)").innerText.replace("원", "").trim(); // 3번째 <td>
// 			        const quantity = parseInt(row.querySelector(".item-qty").value);
// 			        const totalTd = row.querySelector(".item-total");
		
// 			        const price = parseInt(priceText);
// 			        const total = price * quantity;
		
// 			        totalTd.textContent = total + "원";
// 			    }
		
// 			    updateTotalSum();
// 			});
			
// 			// 개별 주문 삭제
// 			document.getElementById("tbody").addEventListener("click", function(e) {
// 				if(e.target.closest(".btn-delete")) {
// 					const row = e.target.closest(".item-row");
// 					if(row){
// 						row.remove();
// 						updateTotalSum();
// 					}
// 				}
// 			});
			
// 			// 총합 계산
// 			function updateTotalSum(){
// 				let sum = 0;
				
// 				document.querySelectorAll(".item-row").forEach(function(row) {
					
// 			        const totalCell = row.querySelector(".item-total");
// 			        const text = totalCell.textContent.replace("원", "").trim();
// 			        const number = parseInt(text.replace(/,/g, ""));
// 			        sum += number;
					
// 		    	});
				
// 				document.getElementById("odTotalPrice").value = sum;
// 				document.querySelector(".total-sum").textContent = sum.toLocaleString() + " 원";
// 			}
	
	

</script>

<div th:replace="~{usr/include/footer :: footer}"></div>