<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/head :: head}"></div>

    <!-- Cart Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5 mt-5">
            <div>
                <h1>주문 내역</h1>
            </div>
            <div class="table-responsive mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">주문 번호</th>
                            <th scope="col" class="text-center">주문 날짜</th>
                            <th scope="col" class="text-center">주문 상태</th>
                            <th scope="col" class="text-center">총합</th>
                            <th scope="col" class="text-center">삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr th:each="item : ${list}">
                            <td class="text-center">
                                <p class="mt-2"><a th:href="@{'/tableOrder/order/history/detail/' + ${item.orderMasterId}}" th:text="${item.orderMasterId}"></a></p>
                            </td>
                            <td class="text-center">
                                <p class="mt-2" th:text="${item.createdAt}"></p>
                            </td>
                            <td class="text-center">
                                <p class="mt-2" th:text="${item.statusName}"></p>
                            </td>
                            <td class="text-center">
                                <p class="mt-2" th:text="${item.price}"></p>
                            </td>
                           	<td class="text-center align-middle">
                           		<button type="button" 
                           				class="btn btn-md rounded-circle bg-light border btn-delete" 
                           				data-bs-toggle="modal" 
                           				data-bs-target="#modal"
                           				th:data-seq="${item.orderMasterId}">
                           			<i class="fa fa-times text-danger"></i>
                           		</button>
                           	</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <!-- Pageing Start -->
            <div class="pagination d-flex justify-content-center mt-5">
                <a th:href="@{'/tableOrder/order/history?page=' + ${pageVo.startPage - 1}}" 
                   class="rounded" 
                   th:if="${pageVo.thisPage > pageVo.pageNumToShow}">
                   &laquo;
                </a>
                
                <a th:href="@{'/tableOrder/order/history?page=' + ${pageNum}}" 
                   class="rounded" 
                   th:each="pageNum : ${#numbers.sequence(pageVo.startPage, pageVo.endPage)}"
                   th:classappend="${pageNum == pageVo.thisPage} ? 'active' : ''"
                   th:text="${pageNum}">
                </a>

                <a th:href="@{'/tableOrder/order/history?page=' + ${pageVo.endPage + 1}}" 
                   class="rounded" 
                   th:if="${pageVo.endPage < pageVo.totalPages}">
                   &raquo;
                </a>
            </div>
            <!-- Pageing End -->

        </div>
    </div>
    <!-- Cart Page End -->
    
    <!-- Modal -->
	<div class="modal fade" id="modal" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	      </div>
	      <div class="modal-body">
	        삭제하시겠습니까?
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary btn-confirm">확인</button>
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
	      </div>
	    </div>
	  </div>
	</div>

<script>

let targetRow;

document.querySelectorAll('.btn-delete').forEach(button => {
    button.addEventListener('click', (event) => {
        targetRow = event.target.closest('button').getAttribute('data-seq');
    });
});

document.querySelector('.btn-confirm').addEventListener('click', () => {
	
	fetch('/tableOrder/order/history/softDelete', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({
			orderMasterId: targetRow
		})
	})
	.then(res => res.text())
	.then(data => {
		console.log(data);
		if(data == '삭제 성공'){
			window.location.href='/tableOrder/order/history';
		}
	})
	.catch(error => console.error(error));
	
});

</script>

<div th:replace="~{usr/include/footer :: footer}"></div>