<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

	<!-- ******************************************************************************* -->

	<!-- Main -->
	<main id="main" class="main">

		<div class="pagetitle mb-5">

			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">서비스관리</li>
					<li class="breadcrumb-item active">제품관리</li>
				</ol>
			</nav>

			<h1 style="font-weight: bold;">제품관리</h1>


		</div>
		<!-- End Page Title -->

		<section class="section">
<!-- ********************************************************************************************* -->
			<form action="" method="post" id="form">
				<input type="hidden"name="ifcgSeq" th:value="${item?.ifcgSeq}">
				<div class="row">
					<div class="col-lg-12">

						<div class="card">

							<h5 class="card-header"
								style="font-weight: bold; color: #4b4b4b;">기본정보</h5>

							<div class="card-body m-2">



								<!-- Pagination with icons -->
								<div class="row mb-3 mt-3">

									<!-- 1행 -->
									<div class="row mb-3">
										<div class="col-4">
											<label for="text" class="form-label">메뉴명<b style="color: red;">*</b></label> 
											<input type="text" id="menuNm" name="menuNm" class="form-control" placeholder="메뉴명" th:value="${item?.menuNm}">
											<div class="invalid-feedback">메뉴명을 입력하세요.</div>
										</div>
										<div class="col-4">
											<label for="calories" class="form-label">열량(kcal)<b style="color: red;">*</b></label> 
											<input type="text" id="calories" name="calories" class="form-control" placeholder="숫자" th:value="${item?.calories}">
											<div class="invalid-feedback">열량을 입력하세요.</div>
										</div>
										<div class="col-4">
											<div class="row">
												<div class="col-3">
													<label for="sugars" class="form-label">당류(g)<b style="color: red;">*</b></label> 
													<input type="text" id="sugars" name="sugars" class="form-control" placeholder="숫자" th:value="${item?.sugars}">
													<div class="invalid-feedback">당류를 입력하세요.</div>
												</div>
												<div class="col-3">
													<label for="protein" class="form-label">단백질(g)<b style="color: red;">*</b></label> 
													<input type="text" id="protein" name="protein" class="form-control" placeholder="숫자" th:value="${item?.protein}">
													<div class="invalid-feedback">단백질을 입력하세요.</div>
												</div>
												<div class="col-3">
													<label for="fat" class="form-label">포화지방(g)<b style="color: red;">*</b></label> 
													<input type="text" id="fat" name="fat" class="form-control" placeholder="숫자" th:value="${item?.fat}">
													<div class="invalid-feedback">포화지방을 입력하세요.</div>
												</div>
												<div class="col-3">
													<label for="sodium" class="form-label">나트륨(mg)<b style="color: red;">*</b></label> 
													<input type="text" id="sodium" name="sodium" class="form-control" placeholder="숫자" th:value="${item?.sodium}">
													<div class="invalid-feedback">나트륨을 입력하세요.</div>
												</div>
												
											</div>
										</div>

									</div>
				
									<!-- 2행 -->
									<div class="row mb-3">
										<div class="col-4">
											<label for="text" class="form-label">가격<b
												style="color: red;">*</b></label> 
											<input type="text" id="menuPrice" name="menuPrice" class="form-control" placeholder="숫자" th:value="${item?.menuPrice}" required>
											<div class="invalid-feedback">가격을 입력하세요.</div>
										</div>
										<div class="col-4">
											<label for="menuType" class="form-label">종류<b style="color: red;">*</b></label> 
											<select class="form-select" name="menuType">
												<option hidden disabled selected>종류</option>
												<option value="1" th:selected="${item?.menuType == 1}">세트</option>
												<option value="2" th:selected="${item?.menuType == 2}">단품</option>
												<option value="3" th:selected="${item?.menuType == 3}">사이드</option>
												<option value="4" th:selected="${item?.menuType == 4}">음료</option>
											</select>
										</div>
										<div class="col-4">
											<label for="menuStock" class="form-label">재고<b
												style="color: red;">*</b></label> 
											<input type="text" id="menuStock" name="menuStock" class="form-control" placeholder="숫자" th:value="${item?.menuStock}" required>
											<div class="invalid-feedback">재고를 입력하세요.</div>
										</div>

									</div>
									
									<!-- 3행 -->
									<div class="row mb-3">
										<div class="col-8">
											<label for="menuDescription" class="form-label">설명</label>
											<textarea class="form-control" id="menuDescription" name="menuDescription" rows="2" placeholder="설명" th:text="${item?.menuDescription}" maxlength="200"></textarea>
										</div>
										<div class="col-4">
											<div class="row">
												<div class="col-6">
													<label for="recommand" class="form-label">추천<b
														style="color: red;">*</b></label> 
													<select name="recommand" id="recommand" class="form-select">
														<option value="1" th:selected="${item?.recommand == 1}">Y</option>
														<option value="0" th:selected="${item?.recommand == 0}">N</option>
													</select>
												</div>
												<div class="col-6">
													<label for="menuNew" class="form-label">신메뉴<b
														style="color: red;">*</b></label> 
													<select name="menuNew" id="menuNew" class="form-select">
														<option value="1" th:selected="${item?.menuNew == 1}">Y</option>
														<option value="0" th:selected="${item?.menuNew == 0}">N</option>
													</select>
												</div>
											</div>
	
										</div>
										
									</div>
									

								</div>
								<!-- End Pagination with icons -->

								<div class="row">
									<div class="col">
										<a href="/productXdmList" class="btn btn-outline-secondary"> <i
											class="ri-list-check"></i>
										</a>
									</div>
									<div class="col">
										<div style="float: right;">
											<button type="button" class="btn btn-primary" id="btnSubmit">
												<i class="bi bi-database-fill"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>

		</section>

	</main>
	<!-- End #main -->

	<!-- temp -->
	<script type="text/javascript">
	
	let seq = document.querySelector("input[name=ifcgSeq]");
	
	document.getElementById("btnSubmit").onclick = function(){
		if(seq.value == "0" || seq.value == "") {
			form.action = "/productXdmInst";
			form.submit();
		} else {
			form.action = "/productXdmUpdt";
			form.submit();
		}
	}
	
	</script>
	
	<!-- ******************************************************************************* -->


<div th:replace="~{xdm/include/footer :: footer}"></div>