<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

<!-- Main -->

<main id="main" class="main">
	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" name="thisPage" th:value="${vo.thisPage}"
			default="1" /> 
		<input type="hidden" id="rowNumToShow"
			name="rowNumToShow" th:value="${vo.rowNumToShow}" />
		<input type="hidden" name="ifcgSeq">
		<div class="pagetitle">

			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">서비스관리</li>
					<li class="breadcrumb-item active">제품관리</li>
				</ol>
			</nav>

			<h1 style="font-weight: bold;">제품관리</h1>

			<div class="row mb-3 mt-3">
				<div class="col-2">
					<select id="shDelNy" name="shDelNy" class="form-select">
						<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
						<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
						<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
					</select>
				</div>
				<div class="col-2">
					<select id="shOption" name="shGender" class="form-select">
						<option value="" th:selected="${vo.shGender == null}">성별</option>
						<option value="1" th:selected="${vo.shGender == 1}">남성</option>
						<option value="2" th:selected="${vo.shGender == 2}">여성</option>
						<option value="3" th:selected="${vo.shGender == 3}">공개안함</option>
					</select>
				</div>
				<div class="col-2">
					<select id="shOption" name="shOption" class="form-select">
						<option value="" th:selected="${vo.shOption == null}">검색구분</option>
						<option value="1" th:selected="${vo.shOption == 1}">이메일</option>
						<option value="2" th:selected="${vo.shOption == 2}">닉네임</option>
						<option value="3" th:selected="${vo.shOption == 3}">이름</option>
					</select>
				</div>
				<div class="col-2">
					<input id="shValue" name="shValue" type="text" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control">
					<div class="invalid-feedback" id="shValueFeedback"></div>
				</div>
				<div class="col-2">
					<button type="button" class="btn btn-outline-secondary" id="btnSearch"> 
						<i class="ri-search-line"></i>
					</button> 
					<a href="" class="btn btn-outline-secondary">
						<i class="ri-reset-right-line"></i>
					</a>
				</div>
			</div>


		</div>

		<!-- End Page Title -->


		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body m-2">

							<div class="row">
								<div class="col">
									<h5 class="card-title" th:text="|Total: ${vo.totalRows}|"></h5>
								</div>
								<div class="col-2 pt-2" style="float: right;">
									<select id="changeRowNum" name="changeRowNum" class="form-select">
										<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
										<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
										<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
										<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
										<option value="80" th:selected="${vo.rowNumToShow eq 80}">80</option>
										<option value="100" th:selected="${vo.rowNumToShow eq 100}">100</option> 
									</select>
								</div>
							</div>

							<!-- Table with stripped rows -->
							<div class="row">
								<table class="table table-hover">
									<thead>
										<tr>
											<th><input class="form-check-input" type="checkbox"
												id="selectAllCheckbox" onclick="toggleSelectAll(this)">
											</th>
											<th>#</th>
											<th>메뉴명</th>
											<th>가격</th>
											<th>설명</th>
											<th>열량</th>
											<th>탄수화물</th>
											<th>단백질</th>
											<th>지방</th>
											<th>나트륨</th>
											<th>종류</th>
											<th>추천</th>
											<th>신메뉴</th>
											<th>누적 주문수</th>
											<th>재고</th>
										</tr>
									</thead>
									<tbody>
									
										<tr th:if="${#lists.isEmpty(lists)}">
											<td colspan=15 style="text-align: center"><p>There
													are no data!</p></td>
										</tr>
										<tr th:if="${!#lists.isEmpty(lists)}" th:each="list : ${lists}">
											<td><input class="form-check-input rowCheckbox"
												type="checkbox"></td>
											<td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
											
											<td th:text="${list.menuNm}"></td>
											<td th:text="${list.menuPrice}"></td>
											<td th:text="${list.menuDescription}"></td>
											<td th:text="${list.calories}"></td>
											<td th:text="${list.sugars}"></td>
											<td th:text="${list.protein}"></td>
											<td th:text="${list.fat}"></td>
											<td th:text="${list.sodium}"></td>
											<td th:text="${list.menuType}"></td>
											<td th:text="${list.recommand}"></td>
											<td th:text="${list.menuNew}"></td>
											<td th:text="${list.orderCnt}"></td>
											<td th:text="${list.menuStock}"></td>
											
											
											
											<!-- 
											<td class="align-middle fw-semi-bold">
												<a href="javascript:void(0);" th:text="${list.userFullNm}" th:attr="onclick=|goForm('${list.ifcgSeq}')|"></a>
											</td>
											<td th:text="${list.admin} == 1 ? 'Y' : 'N' "></td>
											 -->
										</tr>

									</tbody>
								</table>
							</div>
							<!-- End Table with stripped rows -->

							<!-- Pagination with icons -->
							<div class="row">
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">

										<li th:if="${vo.startPage gt vo.pageNumToShow}"
											class="page-item" style="cursor: pointer;"><a
											class="page-link"
											href="javascript:goList(${vo.startPage - 1})"
											th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
												class="fa-solid fa-angle-left"></i>
										</a></li>
										<li
											th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
											th:classappend="${num eq vo.thisPage} ? active : ''"
											class="page-item" style="cursor: pointer;"><a
											class="page-link" th:attr="onclick=|goList('${num}')|"
											th:text="${num}">
												<!-- ${i.index} -->
										</a></li>
										<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
											style="cursor: pointer;"><a class="page-link"
											th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
												class="fa-solid fa-angle-right"></i>
										</a></li>

									</ul>
								</nav>
							</div>
							<!-- End Pagination with icons -->

							<div class="row">
								<div class="col">
									<a href="#" class="btn btn-danger"> <i
										class="ri-close-large-line"></i>
									</a> <a href="#" class="btn btn-danger"> <i
										class="ri-delete-bin-line"></i>
									</a>
								</div>
								<div class="col">
									<div style="float: right;">
										<a href="#" class="btn btn-success"> <i
											class="ri-file-excel-line"></i>
										</a> 
										<button type="button" id="btnForm" class="btn btn-primary">
											<i class="ri-add-line"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

	</form>
</main>

<!-- End #main -->

<!-- temp -->
<script type="text/javascript">
	
		// 전체 선택/해제 함수
		function toggleSelectAll(source) {
		    // 모든 체크박스를 선택하는 선택자
		    const checkboxes = document.querySelectorAll('.rowCheckbox');
		    
		    // 모든 체크박스에 대해 상태를 '전체 선택' 체크박스 상태에 맞게 설정
		    checkboxes.forEach((checkbox) => {
		        checkbox.checked = source.checked;
		    });
		}

		let form = document.querySelector("form[name=formList]");
		goList = function (thisPage) {
		    document.querySelector("input[name=thisPage]").value = thisPage;
		    form.action = "/memberXdmList";
		    form.submit();
		}
				
		document.getElementById("btnSearch").onclick = function () {
		    form.action = "/memberXdmList";
		    form.submit();
		};
		
		document.getElementById("changeRowNum").onchange = function () {
		    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
		    form.action = "/memberXdmList";
		    form.submit();
		}
		
		
		// 사이드바 현재화면 위치 active
		document.addEventListener("DOMContentLoaded", function () {
		    const currentPath = window.location.pathname;
		    const links = document.querySelectorAll(".nav-content a");

		    links.forEach(link => {
		        if (link.getAttribute("href") === currentPath) {
		        	const navContent = link.closest(".nav-content");
		            const navLink = navContent.previousElementSibling; // 부모 메뉴의 <a> 태그 찾기
		            
		            link.classList.add("active");
		            navContent.classList.add("show"); // 메뉴 열기
		            navLink.classList.remove("collapsed"); // collapsed 제거
		        }
		    });
		});
		
		let seq = document.querySelector("input[name=ifcgSeq]");
		
		document.getElementById("btnForm").onclick = function () {
		    goForm(0);
		}


		goForm = function (keyValue) {
		    seq.value = keyValue;
		    form.action = "/memberXdmRegister";
		    form.submit();
		}
	
	</script>

<!-- ******************************************************************************* -->

<div th:replace="~{xdm/include/footer :: footer}"></div>