<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

	<!-- Main -->
	<main id="main" class="main">

			<div class="pagetitle">

				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item">시스템관리</li>
						<li class="breadcrumb-item active">코드그룹관리</li>
					</ol>
				</nav>

				<h1 style="font-weight: bold;">Code Group</h1>

				<div class="row mb-3 mt-3">
					<div class="col-2">
						<select class="form-select" aria-label="Default select example">
							<option selected>N</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
					<div class="col-2">
						<select class="form-select" aria-label="Default select example">
							<option selected>사용여부</option>
							<option value="1">Y</option>
							<option value="2">N</option>
						</select>
					</div>
					<div class="col-2">
						<select class="form-select" aria-label="Default select example">
							<option selected>날짜</option>
							<option value="1">등록일</option>
							<option value="2">수정일</option>
						</select>
					</div>
					<div class="col-2">
						<input type="text" class="form-control" placeholder="2025-01-05">
					</div>
					<div class="col-2">
						<input type="text" class="form-control" placeholder="2025-02-04">
					</div>
				</div>

				<div class="row mb-3 mt-3">
					<div class="col-2">
						<select class="form-select" aria-label="Default select example">
							<option selected>검색구분</option>
							<option value="1">코드그룹 코드</option>
							<option value="2">코드그룹 이름</option>
							<option value="3">코드그룹 이름(영문)</option>
						</select>
					</div>
					<div class="col-2">
						<input type="text" class="form-control" placeholder="검색어">
					</div>
					<div class="col-2">
						<a href="/codeGroupXdmList" class="btn btn-outline-secondary"
							title="Upload new profile image" id="search">
							<i class="ri-search-line"></i>
						</a> 
						<a href="/codeGroupXdmList"
							class="btn btn-outline-secondary">
							<i class="ri-reset-right-line"></i>
						</a>
					</div>
				</div>

			</div>
	
		<!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body m-2">

							<div class="row">
								<div class="col">
									<h5 class="card-title">Total: 42</h5>
								</div>
								<div class="col-2 pt-2" style="float: right;">
									<select class="form-select" aria-label="Default select example">
										<option selected>5</option>
										<option value="1">10</option>
										<option value="2">15</option>
										<option value="3">20</option>
									</select>
								</div>
							</div>

							<!-- Table with stripped rows -->
							<div class="row">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>
												<input class="form-check-input" type="checkbox"
													id="selectAllCheckbox" onclick="toggleSelectAll(this)">
											</th>
											<th>#</th>
											<th>사용</th>
											<th>코드그룹 코드</th>
											<th>코드그룹 이름</th>
											<th>코드그룹 이름(영문)</th>
											<th>갯수</th>
											<th>순서</th>
											<th>등록일</th>
											<th>수정일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${#lists.isEmpty(list)}">
											<td colspan=10 style="text-align: center"><p>There are no data!</p></td>
										</tr>
										<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
											<td>
												<input class="form-check-input rowCheckbox" type="checkbox">
											</td>
											<td th:text="${list.seq}"></td>
											<td th:text="${list.codeGroupUse} == 1 ? 'Y' : 'N' "></td>
											<td th:text="${list.codeGroupCd}"></td>
											<td th:text="${list.codeGroupNm}" style="color: blue"></td>
											<td></td>
											<td th:text="${list.codeCnt}"></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										
									</tbody>
								</table>
							</div>
							<!-- End Table with stripped rows -->

							<!-- Pagination with icons -->
							<div class="row">
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center">
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
										</a></li>
										<li class="page-item active" aria-current="page"><a
											class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item"><a class="page-link" href="#"
											aria-label="Next"> <span aria-hidden="true">&raquo;</span>
										</a></li>
									</ul>
								</nav>
							</div>
							<!-- End Pagination with icons -->

							<div class="row">
								<div class="col">
									<a href="#" class="btn btn-danger"
										title="Upload new profile image">
										<i class="ri-close-large-line"></i>
									</a> 
									<a href="#" class="btn btn-danger"
										title="Remove my profile image"> 
										<i class="ri-delete-bin-line"></i>
									</a>
								</div>
								<div class="col">
									<div style="float: right;">
										<a href="#" class="btn btn-success"
											title="Remove my profile image"> <i
											class="ri-file-excel-line"></i>
										</a> <a href="/codeGroupXdmRegister"
											class="btn btn-primary">
											<i class="ri-add-line"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- temp -->
	<script type="text/javascript">
	
		// 전체 선택/해제 함수
		function toggleSelectAll(source) {
		    // 모든 체크박스를 선택하는 선택자
		    const checkboxes = document.querySelectorAll('.rowCheckbox');
		    
		    // 모든 체크박스에 대해 상태를 '전체 선택' 체크박스 상태에 맞게 설정
		    checkboxes.forEach((checkbox) => {
		        checkbox.checked = source.checked;
		    });
		}

				
	
	</script>
	
	<!-- ******************************************************************************* -->

<div th:replace="~{xdm/include/footer :: footer}"></div>
