<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

<main id="main" class="main">
	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" name="thisPage" th:value="${vo.thisPage}"
			default="1" /> 
		<input type="hidden" id="rowNumToShow"
			name="rowNumToShow" th:value="${vo.rowNumToShow}" />	
		<input type="hidden" name="ifcgSeq">
		
		<div class="pagetitle">

			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/Xdm/index">Home</a></li>
					<li class="breadcrumb-item">시스템 관리</li>
					<li class="breadcrumb-item active">코드 그룹 관리</li>
				</ol>
			</nav>

			<h1 style="font-weight: bold;">코드 그룹 목록</h1>

			<!-- Search Start -->
			<div class="search">
				<div class="row mb-3 mt-3">
					<div class="col-2">
						<select id="shOptionDate" name="shOptionDate" class="form-select">
							<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
							<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
							<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
						</select>
					</div>
					<div class="col-2">
						<input id="datetimepickerStart" name="shDateStart" type="text" class="form-control" placeholder="시작일" th:value="${vo.shDateStart}" autocomplete="off">
					</div>
					<div class="col-2">
						<input id="datetimepickerEnd" name="shDateEnd" type="text" class="form-control" placeholder="종료일" th:value="${vo.shDateEnd}" autocomplete="off">
					</div>
				</div>
				
				<div class="row mb-3 mt-3">
					<div class="col-2">
						<select id="shDelNy" name="shDelNy" class="form-select">
							<option value="" th:selected="${vo.shDelNy == null}">삭제 여부</option>
							<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
							<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
						</select>
					</div>
					<div class="col-2">
						<select id="shUseNy" name="shUseNy" class="form-select">
							<option value="" th:selected="${vo.shUseNy == null}">사용 여부</option>
							<option value="1" th:selected="${vo.shUseNy == 1}">Y</option>
							<option value="0" th:selected="${vo.shUseNy == 0}">N</option>
						</select>
					</div>
				</div>
	
				<div class="row mb-3 mt-3">
					<div class="col-2">
						<select id="shOption" name="shOption" class="form-select">
							<option value="" th:selected="${vo.shOption == null}">검색구분</option>
							<option value="1" th:selected="${vo.shOption == 1}">코드 그룹 번호</option>
							<option value="2" th:selected="${vo.shOption == 2}">코드 그룹명</option>
						</select>
					</div>
					<div class="col-2">
						<input id="shValue" name="shValue" type="text" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control">
						<div class="invalid-feedback" id="shValueFeedback"></div>
					</div>
					<div class="col-2">
						<button type="button" id="btnSearch" class="btn btn-outline-secondary">
							<i class="ri-search-line"></i>
						</button>
						<a href="" class="btn btn-outline-secondary">
							<i class="ri-reset-right-line"></i>
						</a>
					</div>
				</div>
			</div>
			<!-- Search End -->
		</div>

		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body m-2">

							<div class="row">
								<div class="col">
									<h5 class="card-title" th:text="|Total: ${vo.totalRows}|"></h5>
								</div>
								<div class="col-2 pt-2" style="float: right;">
									<select id="changeRowNum" name="changeRowNum" class="form-select">
										<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
										<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
										<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
										<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
										<option value="80" th:selected="${vo.rowNumToShow eq 80}">80</option>
										<option value="100" th:selected="${vo.rowNumToShow eq 100}">100</option> 
									</select>
								</div>
							</div>
							
							<!-- Table Start -->
							<div class="row">
								<table class="table table-hover">
									<thead>
										<tr>
											<th class="text-center">
												<input class="form-check-input" type="checkbox" id="selectAllCheckbox" onclick="toggleSelectAll(this)">
											</th>
											<th class="text-center">#</th>
											<th class="text-center">사용 여부</th>
											<th class="text-center">코드 그룹 번호</th>
											<th class="text-center">코드 그룹명</th>
											<th class="text-center">개수</th>
											<th class="text-center">등록일</th>
											<th class="text-center">수정일</th>
										</tr>
									</thead>
									<tbody>
									
										<tr th:if="${#lists.isEmpty(lists)}">
											<td colspan=8 class="text-center">
												<p>There are no data!</p></td>
										</tr>
										
										<tr th:each="list : ${lists}">
											<td class="text-center">
												<input class="form-check-input rowCheckbox" type="checkbox" name="seq" th:value="${list.seq}">
												<input type="hidden" name="delSeq" th:id="'delSeq_' + ${list.seq}">
											</td>

											<td class="text-center" th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
											<td class="text-center" th:text="${list.codeGroupUse} == 1 ? 'Y' : 'N' "></td>
											<td class="text-center" th:text="${list.seq}"></td>
											
											<td class="text-center align-middle fw-semi-bold">
												<a href="javascript:void(0);" th:text="${list.codeGroupNm}" th:attr="onclick=|goForm(${list.ifcgSeq})|"></a>
											</td>
											
											<td class="text-center" th:text="${list.codeCnt}"></td>
											<td class="text-center" th:text="${list.codeGroupRegDateTime}"></td>
											<td class="text-center" th:text="${list.codeGroupModDateTime}"></td>
										</tr>

									</tbody>
								</table>
							</div>
							<!-- Table End -->

							<!-- Pagination Start-->
							<div class="row">
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">

										<li th:if="${vo.startPage gt vo.pageNumToShow}" 
											class="page-item"
											style="cursor: pointer;">
											<a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|">
												<i class="fa-solid fa-angle-left"></i>
											</a>
										</li>
										
										<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" 
											th:classappend="${num eq vo.thisPage} ? active : ''"
											class="page-item" style="cursor: pointer;">
											<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}">
												<!-- ${i.index} -->
											</a>
										</li>
										
										<li th:if="${vo.endPage ne vo.totalPages}" 
											class="page-item"
											style="cursor: pointer;">
											<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"> 
												<i class="fa-solid fa-angle-right"></i>
											</a>
										</li>
									</ul>
								</nav>
							</div>
							<!-- Pagination End -->

							<!-- Table Button Start -->
							<div class="row">
								<div class="col">
									<button type="button" id="btnDelete" class="btn btn-danger"> 
										<i class="ri-close-large-line"></i>
									</button>
									<button type="button" id="btnUelete" class="btn btn-danger">
										<i class="ri-delete-bin-line"></i>
									</button>
								</div>
								
								<div class="col">
									<div style="float: right;">
										<a href="#" class="btn btn-success"> <i
											class="ri-file-excel-line"></i>
										</a> 
										<button type="button" id="btnForm" class="btn btn-primary">
											<i class="ri-add-line"></i>
										</button>
									</div>
								</div>
							</div>
							<!-- Table Button End -->
						</div>
					</div>

				</div>
			</div>
			
			<div class="modal fade" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalConfirmTitle">title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body" id="modalConfirmBody">
							body
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary btn-sm btn_custom" data-bs-dismiss="modal"><i class="fa-solid fa-angle-left fa-lg"></i></button>
							<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalDelete"><i class="fa-solid fa-x fa-lg"></i></button>
							<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalUelete"><i class="far fa-trash-alt fa-lg"></i></button>
						</div>
					</div>
				</div>
			</div>
	
		</section>

	</form>
</main>

<script type="text/javascript">

	let selectAllCheckbox = document.getElementById("selectAllCheckbox");
	let rowCheckboxes = document.querySelectorAll(".rowCheckbox");
    let currentPath = window.location.pathname;
    let links = document.querySelectorAll(".nav-content a");
    let seq = document.querySelector("input[name=ifcgSeq]");
	
	// 전체 선택/해제 함수
	function toggleSelectAll(source) {
	    // 모든 체크박스에 대해 상태를 '전체 선택' 체크박스 상태에 맞게 설정
	    rowCheckboxes.forEach((checkbox) => {
	        checkbox.checked = source.checked;
	    });
	}
	
	// 페이징
	let form = document.querySelector("form[name=formList]");
	goList = function (thisPage) {
	    document.querySelector("input[name=thisPage]").value = thisPage;
	    form.action = "/Xdm/codeGroupXdmList";
	    form.submit();
	}
			
	// 검색
	document.getElementById("btnSearch").onclick = function () {
	    form.action = "/Xdm/codeGroupXdmList";
	    form.submit();
	};
	
	// 테이블 행 개수 Select
	document.getElementById("changeRowNum").onchange = function () {
	    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
	    form.action = "/Xdm/codeGroupXdmList";
	    form.submit();
	}
	
	
	document.addEventListener("DOMContentLoaded", function () {

	    // 사이드바 현재화면 위치 active
	    links.forEach(link => {
	        if (link.getAttribute("href") === currentPath) {
	        	const navContent = link.closest(".nav-content");
	            const navLink = navContent.previousElementSibling; // 부모 메뉴의 <a> 태그 찾기
	            
	            link.classList.add("active");
	            navContent.classList.add("show"); // 메뉴 열기
	            navLink.classList.remove("collapsed"); // collapsed 제거
	        }
	    });
	    // 체크박스
	    rowCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                let allChecked = document.querySelectorAll(".rowCheckbox:checked").length === rowCheckboxes.length;
                selectAllCheckbox.checked = allChecked;
            });
        });

	});

	//Insert
	document.getElementById("btnForm").onclick = function () {
	    goForm(0);
	};
	//Update
	goForm = function (keyValue) {
		seq.value = keyValue;
	    form.action = "/Xdm/codeGroupXdmRegister";
	    form.submit();
	};
	// Uelete
	// Modal 먼저 실행
	document.getElementById("btnUelete").onclick = function () {
		document.querySelector("#modalConfirmTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = '';
		document.querySelector("#btnModalDelete").style.display = 'none';
		
		let modal = new bootstrap.Modal(document.getElementById("modalConfirm"));
           modal.show();     	
	}
	// Modal에서 확인 버튼 누르면
	document.getElementById("btnModalUelete").onclick = function () {

		let selected = document.querySelectorAll(".rowCheckbox:checked");
		selected.forEach((s) => {
			document.querySelector(`input[id="delSeq_${s.value}"]`).value = s.value;
		});

		 
		form.action = "/Xdm/codeGroupXdmUele";
		form.submit();
	}
	
	// Delete
	// Modal 먼저 실행
	document.getElementById("btnDelete").onclick = function () {
		document.querySelector("#modalConfirmTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = 'none';
		document.querySelector("#btnModalDelete").style.display = '';
		
		let modal = new bootstrap.Modal(document.getElementById("modalConfirm"));
           modal.show();     	
	}
	// Modal에서 확인 버튼 누르면
	document.getElementById("btnModalDelete").onclick = function () {

		let selected = document.querySelectorAll(".rowCheckbox:checked");
		selected.forEach((s) => {
			document.querySelector(`input[id="delSeq_${s.value}"]`).value = s.value;
		});

		form.action = "/Xdm/codeGroupXdmDele";
		form.submit();
	}
	
	// 날짜 검색 조건
	jQuery('#datetimepickerStart').datetimepicker({
		timepicker:false,
		format:'Y-m-d'
	});
	jQuery('#datetimepickerEnd').datetimepicker({
		timepicker:false,
		format:'Y-m-d'
	});
		
</script>

<div th:replace="~{xdm/include/footer :: footer}"></div>