<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

	<!-- ******************************************************************************* -->

	<!-- Main -->
	<main id="main" class="main">

		<div class="pagetitle mb-5">

			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">시스템관리</li>
					<li class="breadcrumb-item active">코드그룹관리</li>
				</ol>
			</nav>

			<h1 style="font-weight: bold;">Code Group</h1>


		</div>
		<!-- End Page Title -->

		<section class="section">

			<form class="needs-validation" action="" method="post" id="form" novalidate>
				
				<div class="row">
					<div class="col-lg-12">

						<div class="card">

							<h5 class="card-header"
								style="font-weight: bold; color: #4b4b4b;">기본정보</h5>

							<div class="card-body m-2">



								<!-- Pagination with icons -->
								<div class="row mb-3 mt-3">

									<div class="row mb-3">
										<div class="col-3">
											<div th:replace="~{xdm/codegroup/codeGroupXdmVo :: vo}"></div>
											<label class="form-label">코드그룹 코드<b
												style="color: red;">*</b></label>
											<input type="text" id="ifcgSeq" name="ifcgSeq" th:value="${item?.ifcgSeq}" maxlength="20" placeholder="자동생성" disabled class="form-control"/>
										</div>
										<div class="col-3">
											<label for="text2" class="form-label">코드그룹 코드
												(ANOTHER)</label> <input type="text" class="form-control" name="codeGroupCd" th:value="${item?.codeGroupCd}"
												placeholder="영대소문자,숫자">
										</div>
										<div class="col-3">
											<label for="text3" class="form-label">코드그룹 이름<b style="color: red;">*</b></label>
											<input name="codeGroupNm" type="text" th:value="${item?.codeGroupNm}"
												class="form-control" placeholder="한글,영대소문자,숫자" required>
											<div class="invalid-feedback">
												코드그룹 이름을 입력하세요.
											</div>
										</div>
										<div class="col-3">
											<label for="codeGroupUse" class="form-label">사용여부<b
												style="color: red;">*</b></label> 
											<select name="codeGroupUse" id="codeGroupUse" class="form-select">
												<option value="1" th:selected="${item?.codeGroupUse == 1}">사용</option>
												<option value="0" th:selected="${item?.codeGroupUse == 0}">사용안함</option>
											</select>
										</div>
									</div>

									<div class="row mb-3">
										<div class="col-6">
											<label for="textarea1" class="form-label">설명</label>
											<textarea class="form-control" id="textarea1" rows="3"></textarea>
										</div>
										<div class="col-3">
											<label for="text5" class="form-label">순서</label> 
											<input id="text5" type="text" class="form-control">
										</div>
									</div>

								</div>
								<!-- End Pagination with icons -->

								<div class="row">
									<div class="col">
										<a href="/Xdm/codeGroupXdmList" class="btn btn-outline-secondary"> <i
											class="ri-list-check"></i>
										</a>
									</div>
									<div class="col">
										<div style="float: right;">
											<button type="button" class="btn btn-primary" id="btnSubmit">
												<i class="bi bi-database-fill"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</form>

		</section>

	</main>
	<!-- End #main -->

	<!-- temp -->
	<script type="text/javascript">
	
	let seq = document.querySelector("input[name=ifcgSeq]");

	// 유효성 검사
	function validation() {

		const form = document.querySelector(".needs-validation"); // 폼 선택
	    const inputField = form.querySelector("input[name='codeGroupNm']"); // 입력 필드 찾기

	    if (!inputField.value.trim()) { 
	        form.classList.add("was-validated"); // 부트스트랩 유효성 스타일 적용
	        inputField.focus();
	        return false; // 제출 차단
	    }

	    return true; // 입력이 올바르면 제출 허용
	}
	
	document.getElementById("btnSubmit").onclick = function () {
		if(seq.value == "0" || seq.value == "") {				// Insert
			if(validation() == false) return false;
			form.action = "/Xdm/codeGroupXdmInst";
			form.submit();
		} else {												// Update
			if(validation() == false) return false;
			form.action = "/Xdm/codeGroupXdmUpdt";
			form.submit();
		}
	}
	
	document.addEventListener("DOMContentLoaded", function () {
	    const inputCodeGroupNm = document.querySelector("input[name='codeGroupNm']");

	    inputCodeGroupNm.addEventListener("input", function () {
	        // 첫 글자가 공백이면 자동 제거
	        this.value = this.value.replace(/^\s+/, "");
	    });
	});
	
	</script>
	
	<!-- ******************************************************************************* -->


<div th:replace="~{xdm/include/footer :: footer}"></div>