<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/head :: head}"></div>

	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" name="formSeq">
	    <!-- Fruits Shop Start-->
	    <div class="container-fluid fruite py-5">
	        <div class="container py-5">
	            <h1 class="mb-4 mt-5">전체 메뉴</h1>
	            <div class="row g-4">
	                <div class="col-lg-12">
	                    <div class="row g-4">
	                        <div class="col-xl-3">
	                            <div class="input-group w-100 mx-auto d-flex">
	                                <input type="search" class="form-control p-3" id="shValue" th:value="${searchVo?.shValue}" placeholder="메뉴명">
	                                <span onclick="loadMenuList(1)" style="cursor:pointer;" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
	                            </div>
	                        </div>
	                        <div class="col-6"></div>
	                        <div class="col-xl-3">
	                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
	                                <label for="fruits">정렬 : </label>
	                                <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3"
	                                    form="fruitform">
	                                    <option value="volvo">주문 많은 순</option>
	                                    <option value="saab">평점 높은 순</option>
	                                </select>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="row g-4">
	                        <!-- Side Bar Start -->
	                        <div class="col-lg-3">
	                            <div class="row g-4">
	                            	<!-- Cart List Start -->
		                            <div id="cart" class="col-lg-12">
		                                <!-- Ajax -->
	                            	</div>
	                            	<!-- Cart List End -->
	                        	</div>
	                        </div>
	                        <!-- Side Bar End -->
	
	                        <!-- Menu List Start -->
	                        <div id="menuList" class="col-lg-9">
	                            <!-- Ajax -->
	                        </div>
	                        <!-- Menu List End -->
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Fruits Shop End-->
    </form>
    
<script>
	  
let form = document.querySelector("form[name=formList]");
// 상품 상세
goDetail = function (value) {
	form.action = "/tableOrder/shop/detail/" + value;
	form.submit();
}

document.addEventListener("DOMContentLoaded", function () {
	//메뉴 리스트
	loadMenuList(1); // 처음 로딩 시 page 1
	
	
	//장바구니
	loadCart();
	
	// 장바구니 이벤트 위임
    document.getElementById("cart").addEventListener("click", function (e) {
        const cartItem = e.target.closest(".cart-item");
        if (!cartItem) return;

        const cartIdInput = cartItem.querySelector("input[name='cartId']");
        if (!cartIdInput) return;

        const cartId = cartIdInput.value;

        // + 버튼
        if (e.target.closest(".btn-plus")) {
            updateCart(1, cartId);
        }
        // - 버튼
        else if (e.target.closest(".btn-minus")) {
            updateCart(-1, cartId);
        }
        // 삭제 버튼
        else if (e.target.closest(".btn-delete")) {
            updateCart(0, cartId);
        }
    });
	
	window.goList = function (page) {
	    loadMenuList(page);
	}
});
	  
// 메뉴 리스트 로드
function loadMenuList(page) {
	const shValue = document.getElementById("shValue").value;
    fetch(`/tableOrder/shop/menuList?page=${page}&shValue=${shValue}`)
        .then(response => response.text())
        .then(html => {
            document.getElementById("menuList").innerHTML = html;

            // 동적으로 로딩된 버튼들에 이벤트 바인딩
            document.querySelectorAll(".btnAddCart").forEach(button => {
                button.addEventListener("click", (e) => {
                    const productId = e.currentTarget.dataset.productId;

                    fetch("/tableOrder/cart/add", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ productId })
                    })
                        .then(res => res.text())
                        .then(msg => {
                        	console.log("장바구니에 추가되었습니다!");
                            loadCart(); // 장바구니 새로고침
                        })
                        .catch(err => {
                            console.error(err);
                            alert("오류가 발생했습니다.");
                        });
                });
            });
        })
        .catch(error => {
            console.error("메뉴 로딩 실패:", error);
            alert("메뉴를 불러오지 못했습니다.");
        });
}

// 장바구니 로드
function loadCart() {
    fetch(`/tableOrder/shop/cart`)
        .then(response => response.text())
        .then(html => {
            document.getElementById("cart").innerHTML = html;
            updateCartTotalPrice();
            
         	// 주문하기 버튼
        	document.getElementById('btnOrder').addEventListener('click', function () {
        		  const cartItems = document.querySelectorAll('.cart-item');
        		  
        		  if (cartItems.length === 0) {
        		    alert('장바구니가 비어 있습니다.');
        		    return;
        		  }

        		  form.action = "/tableOrder/order/checkout";
        		  form.submit();
        	});
         	
        })
        .catch(error => {
            console.error("장바구니 로딩 실패:", error);
            alert("장바구니를 불러오지 못했습니다.");
        });
}

// 장바구니 수정
function updateCart(qty, cartId) {
    fetch('/tableOrder/cart/update', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `qty=${qty}&cartId=${cartId}`
    })
    .then(response => {
        if (!response.ok) throw new Error("업데이트 실패");
        return response.text();
    })
    .then(data => {
        console.log("업데이트 성공", data);
        loadCart(); // 성공 후 다시 장바구니 로드
    })
    .catch(error => {
        console.error("에러:", error);
        alert("장바구니 수량 변경 중 문제가 발생했습니다.");
    });
}

// 장바구니 합계
function updateCartTotalPrice() {
    let total = 0;
    document.querySelectorAll(".item-price").forEach(item => {
        const priceText = item.getAttribute("data-price");
        const qtyEl = item.closest(".cart-item").querySelector(".item-qty");
        const quantity = parseInt(qtyEl.value);

        const price = parseInt(priceText);
        total += price * quantity;
    });

    const formatted = total.toLocaleString(); // 1,000 단위 구분
    document.getElementById("cart-total").textContent = formatted + " 원";
}

</script>

<div th:replace="~{usr/include/footer :: footer}"></div>