<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/include/head :: head}"></div>


    <!-- Single Product Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">


                <div class="col">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="border rounded">
                                <img src="/usr/template/onlineMenuBoard/assets/img/margherita-pizza.jpg" class="img-fluid rounded" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <h4 class="fw-bold mb-3" th:text="${item.menuNm}"></h4>
                            <h5 class="fw-bold mb-3" th:text="${#numbers.formatInteger(item.menuPrice, 3, 'COMMA')} + ' 원'"></h5>
                            <div class="d-flex mb-4">
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star text-secondary"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="mb-4" th:text="${item.menuDescription}"></p>

                            <div class="col p-3">
                                <div class="row bg-light align-items-center text-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">열량(kcal)</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0" th:text="${item.calories}"></p>
                                    </div>
                                </div>
                                <div class="row text-center align-items-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">당류(g)</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0" th:text="${item.sugars}"></p>
                                    </div>
                                </div>
                                <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">단백질(g)</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0" th:text="${item.protein}"></p>
                                    </div>
                                </div>
                                <div class="row text-center align-items-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">포화지방(g)</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0" th:text="${item.fat}"></p>
                                    </div>
                                </div>
                                <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">나트륨(mg)</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0" th:text="${item.sodium}"></p>
                                    </div>
                                </div>
                                
                            </div>

                        </div>

                        <!-- 상세정보, 리뷰 Start -->
                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                        aria-controls="nav-mission" aria-selected="true">
                                        리뷰
                                    </button>
                                </div>
                            </nav>

                            <div class="tab-content mb-5">

                                

                                <!-- 리뷰 Start -->
                                <div class="tab-pane active" id="nav-mission" role="tabpanel"
                                    aria-labelledby="nav-mission-tab">
                                    
                                    <div class="d-flex mb-5">
                                        <div>
                                            <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                            <div class="row justify-content-between">
                                                <h5>졸린감자</h5>
                                                <div class="mb-2">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <p>피자와 샐러드 맛있었지만, 비쌉니다. </p>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-5">
                                        <div class="">
                                            <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                            <div class="justify-content-between">
                                                <h5>치킨져앙</h5>
                                                <div class="mb-2">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                </div>
                                            </div>
                                            <p class="text-dark">피자 잘 안먹는 저도 맛있게 먹었어요. </p>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex mb-5" th:each="review : ${reviewList}">
                                        <div>
                                            <p class="mb-2" style="font-size: 14px;" th:text="${review.reviewDate}"></p>
                                            <div class="row justify-content-between">
                                                <h5 th:text="${review.nickname}"></h5>
                                                <div class="mb-2">
												    <!-- 별점 루프 (1부터 5까지 반복) -->
												    <span th:each="i : ${#numbers.sequence(1, 5)}">
												        <!-- 현재 review.rating보다 작거나 같으면 채운 별 -->
												        <i class="fa fa-star" 
												           th:classappend="${i <= review.reviewRate} ? ' text-secondary' : ''">
												        </i>
												    </span>
                                                </div>
                                            </div>
                                            <p th:text="${review.reviewDescription}"></p>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <!-- 리뷰 Start -->


                            </div>
                        </div>
                        <!-- 상세정보, 리뷰 End -->

                        <!-- Review Start -->
                        <form action="#">
                            <h4 class="mb-3 fw-bold">리뷰 남기기</h4>

                            <div class="row g-3">
                                <div class="col-lg-6">
                                    <div class="border-bottom rounded">
                                        <input type="text" class="form-control border-0 me-4" th:value="${user.nickname}" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="border-bottom rounded">
                                        <input type="email" class="form-control border-0" th:value="${user.email}" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="border-bottom rounded my-3">
                                        <textarea name="" id="" class="form-control border-0" cols="30" rows="8"
                                            placeholder="내용 *" spellcheck="false"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between py-3 mb-5">
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0 me-3">평점 :</p>
                                            <div class="d-flex align-items-center" style="font-size: 12px;">
                                                <i class="fa fa-star text-muted"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <a href="#"
                                            class="btn border border-secondary text-primary rounded-pill px-4 py-3">저장</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Review End -->

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Single Product End -->

<div th:replace="~{usr/include/footer :: footer}"></div>