<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.codeGroup.CodeGroupDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.module.codeGroup.CodeGroupDto"></resultMap>

	<sql id="selectCommon">
		FROM codegroup a
		WHERE 1=1
			
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.codegroupUse = #{shUseNy}</if>
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.codegroupDelNy = #{shDelNy}</if>
		
		<choose>
			<when test="shOptionDate == 1">AND a.codeGroupRegDateTime BETWEEN CONCAT(#{shDateStart}, 'T00:00:00') AND CONCAT(#{shDateEnd}, 'T23:59:59')</when>
			<when test="shOptionDate == 2">AND a.codeGroupModDateTime BETWEEN CONCAT(#{shDateStart}, 'T00:00:00') AND CONCAT(#{shDateEnd}, 'T23:59:59')</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND a.seq = #{shValue}</when>
			<when test="shOption == 2">AND a.codegroupNm LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
			
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			aa.seq
			,aa.codeGroupUse
			,aa.codeGroupCd
			,aa.codeGroupNm
			,aa.seq AS ifcgSeq
		FROM (
			SELECT 
				a.seq
				,a.codeGroupUse
				,a.codeGroupCd
				,a.codeGroupNm
			<include refid="selectCommon"></include>
			) aa
		WHERE
			aa.seq = #{ifcgSeq}
	</select>

	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			aa.seq
			,aa.codeGroupUse
			,aa.codeGroupCd
			,aa.codeGroupNm
			,aa.codeGroupRegDateTime
			,aa.codeGroupModDateTime
			,aa.codeCnt
			,aa.seq AS ifcgSeq
		FROM (
			SELECT
				a.seq,
				a.codeGroupUse,
				a.codeGroupCd,
				a.codeGroupNm,
				a.codeGroupRegDateTime,
				a.codeGroupModDateTime,
				(SELECT COUNT(*)
                FROM code b
                WHERE
					a.seq = b.codeGroup_seq
				) AS codeCnt
			<include refid="selectCommon"></include>
			ORDER BY
				seq DESC
			) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>

	<insert id="insert">
		INSERT INTO codegroup(
			codeGroupUse,
			codeGroupCd,
			codeGroupNm,
			codeGroupRegDateTime,
			codeGroupDelNy
		) VALUES(
			#{codeGroupUse},
			NULLIF(#{codeGroupCd},''),
			#{codeGroupNm},
			now(),
			0
		)
		<selectKey resultType="String" keyProperty="seq"
			order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<delete id="delete">
		DELETE
		FROM
			codegroup
		WHERE
			seq = #{ifcgSeq}
	</delete>
	
	<update id="uelete">
		UPDATE codegroup SET
			codeGroupDelNy = 1
		WHERE
			seq = #{ifcgSeq}
	</update>
	
	<update id="update">
		UPDATE codegroup SET
			codeGroupUse = #{codeGroupUse}
			,codeGroupCd = #{codeGroupCd}
			,codeGroupNm = #{codeGroupNm}
			,codeGroupModDateTime = now()
		WHERE
			seq = #{ifcgSeq}
	</update>
	
	
</mapper>