<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.codeGroup.CodeGroupDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.module.codeGroup.CodeGroupDto"></resultMap>

	<select id="countCodeGroupsByVo" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			codegroup
		WHERE
			1=1
			<if test="searchVo.shIsUse != null and !searchVo.shIsUse.equals('')">AND is_used = #{searchVo.shIsUse}</if>
			<if test="searchVo.shIsDel != null and !searchVo.shIsDel.equals('')">AND is_deleted = #{searchVo.shIsDel}</if>
			
			<choose>
				<when test="searchVo.shOptionDate == 1">AND created_at BETWEEN CONCAT(#{searchVo.shDateStart}, 'T00:00:00') AND CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')</when>
				<when test="searchVo.shOptionDate == 2">AND updated_at BETWEEN CONCAT(#{searchVo.shDateStart}, 'T00:00:00') AND CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')</when>
			</choose>
			
			<choose>
				<when test="searchVo.shOption == 1">AND codegroup_id = #{searchVo.shValue}</when>
				<when test="searchVo.shOption == 2">AND name LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
			</choose>
	</select>

	<select id="findCodeGroupsByVo" resultMap="resultMapObj">
		SELECT 
			codegroup_id AS codegroupId
			,name
			,created_at AS createdAt
			,updated_at AS updatedAt
			,is_used AS isUsed
		FROM
			codegroup
		WHERE
			1=1
			<if test="searchVo.shIsUse != null and !searchVo.shIsUse.equals('')">AND is_used = #{searchVo.shIsUse}</if>
			<if test="searchVo.shIsDel != null and !searchVo.shIsDel.equals('')">AND is_deleted = #{searchVo.shIsDel}</if>
			
			<choose>
				<when test="searchVo.shOptionDate == 1">AND created_at BETWEEN CONCAT(#{searchVo.shDateStart}, 'T00:00:00') AND CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')</when>
				<when test="searchVo.shOptionDate == 2">AND updated_at BETWEEN CONCAT(#{searchVo.shDateStart}, 'T00:00:00') AND CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')</when>
			</choose>
			
			<choose>
				<when test="searchVo.shOption == 1">AND codegroup_id = #{searchVo.shValue}</when>
				<when test="searchVo.shOption == 2">AND name LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
			</choose>
		ORDER BY
			codegroup_id DESC
		LIMIT #{pageVo.rowNumToShow} OFFSET #{pageVo.startRnumForMysql}
	</select>

	<select id="findCodeGroupById" resultMap="resultMapObj">
		SELECT
			codegroup_id AS codegroupId
			,name
			,is_used AS isUsed
		FROM 
			codegroup
		WHERE
			1=1
			AND codegroup_id = #{codegroupId}
	</select>
	
	<select id="findAllCodeGroup" resultMap="resultMapObj">
		SELECT
			codegroup_id AS codegroupId
			,name
		FROM 
			codegroup
		WHERE
			1=1
			AND is_deleted = 0
	</select>

	<insert id="createCodeGroup">
		INSERT INTO codegroup(
			name
			,created_at
			,is_used
			,is_deleted
		) VALUES(
			#{name},
			now(),
			#{isUsed},
			0
		)
	</insert>
	
	<update id="updateCodeGroup">
		UPDATE codegroup SET
			name = #{name}
			,is_used = #{isUsed}
			,updated_at = now()
		WHERE
			1=1
			AND codegroup_id = #{codegroupId}
	</update>
	
	<update id="softDeleteCodeGroup">
		UPDATE codegroup SET
			is_deleted = 1
			,updated_at = now()
		WHERE
			1=1
			AND codegroup_id = #{codegroupId}
	</update>
	
	<delete id="hardDeleteCodeGroup">
		DELETE
		FROM
			codegroup
		WHERE
			codegroup_id = #{codegroupId}
	</delete>

<!-- ******************************************************************************************************* -->
<!-- 	
	<sql id="selectCommon">
		FROM codegroup a
		WHERE 1=1
			
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.codegroupUse = #{shUseNy}</if>
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.codegroupDelNy = #{shDelNy}</if>
		
		<choose>
			<when test="shOptionDate == 1">AND a.codeGroupRegDateTime BETWEEN CONCAT(#{shDateStart}, 'T00:00:00') AND CONCAT(#{shDateEnd}, 'T23:59:59')</when>
			<when test="shOptionDate == 2">AND a.codeGroupModDateTime BETWEEN CONCAT(#{shDateStart}, 'T00:00:00') AND CONCAT(#{shDateEnd}, 'T23:59:59')</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND a.seq = #{shValue}</when>
			<when test="shOption == 2">AND a.codegroupNm LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
			
	</sql>
	 -->
</mapper>