<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.code.CodeDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.module.code.CodeDto"></resultMap>

	<sql id="selectCommon">
		FROM code a
		WHERE 1=1

		<if test="shUseNy != null and !shUseNy.equals('')">AND a.codeUse = #{shUseNy}</if>
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.codeDelNy = #{shDelNy}</if>

		<!-- <choose> <when test="shOptionDate == 1">AND a.regDateTime BETWEEN 
			#{shDateStart} AND #{shDateEnd}</when> <when test="shOptionDate == 2">AND 
			a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when> </choose> -->

		<choose> 
			<when test="shOption == 1">AND a.seq = #{shValue}</when> 
			<when test="shOption == 2">AND a.codeNm LIKE CONCAT('%',#{shValue},'%')</when> 
		</choose>

	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			aa.*
			,aa.seq AS ifcgSeq
		FROM (
			SELECT
				b.seq,
				b.codeUse,
				b.codeGroup_seq,
				c.codeGroupCd,
				c.codeGroupNm,
				b.codeCd,
				b.codeNm
			FROM codegroup c
				JOIN (SELECT * 
				<include refid="selectCommon"></include>
				) b
				ON c.seq = b.codeGroup_seq
			ORDER BY
				seq DESC
		) aa
		WHERE
			aa.seq = #{ifcgSeq}
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			aa.*
			,aa.seq AS ifcgSeq
		FROM (
			SELECT
				b.seq,
				b.codeUse,
				b.codeGroup_seq,
				c.codeGroupCd,
				c.codeGroupNm,
				b.codeCd,
				b.codeNm
			FROM codegroup c
				JOIN (SELECT * 
				<include refid="selectCommon"></include>
				) b
				ON c.seq = b.codeGroup_seq
			ORDER BY
				seq DESC
		) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
	
	<select id="selectCodeGroup" resultMap="resultMapObj">
		SELECT
			seq,
			codeGroupCd,
		    codeGroupNm
		FROM
			codegroup
		WHERE
			codeGroupDelNy = 0
	</select>

	<insert id="insert">
		INSERT INTO code(
		    codeCd,
			codeNm,
			codeUse,
		    codeDelNy,
		    codeGroup_seq
		) VALUES(
		NULLIF(#{codeCd}, ''),
		#{codeNm},
		#{codeUse},
		0,
		#{codeGroup_seq}
		)
		<selectKey resultType="String" keyProperty="seq"
			order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>

	<delete id="delete">
		DELETE
		FROM
			code
		WHERE
			seq = #{seq}
	</delete>

	<update id="uelete">
		UPDATE code SET
			codeDelNy = 1
		WHERE
			seq = #{seq}
	</update>
	
	<update id="update">
		UPDATE code SET
			codeCd = #{codeCd},
			codeNm = #{codeNm},
			codeUse = #{codeUse},
		    codeGroup_seq = #{codeGroup_seq}
		WHERE
			seq = #{ifcgSeq}
	</update>


</mapper>