<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.code.CodeDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.module.code.CodeDto"></resultMap>
		
	<select id="countCodesByVo" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			code c
			JOIN codegroup cg ON cg.codegroup_id = c.codegroup_id
		WHERE
			1=1
			<if test="searchVo.shIsUse != null and !searchVo.shIsUse.equals('')">AND c.is_used = #{searchVo.shIsUse}</if>
			<if test="searchVo.shIsDel != null and !searchVo.shIsDel.equals('')">AND c.is_deleted = #{searchVo.shIsDel}</if>
			
			<choose>
				<when test="searchVo.shOptionDate == 1">AND c.created_at BETWEEN CONCAT(#{searchVo.shDateStart}, 'T00:00:00') AND CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')</when>
				<when test="searchVo.shOptionDate == 2">AND c.updated_at BETWEEN CONCAT(#{searchVo.shDateStart}, 'T00:00:00') AND CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')</when>
			</choose>
			
			<choose>
				<when test="searchVo.shOption == 1">AND c.codegroup_id = #{searchVo.shValue}</when>
				<when test="searchVo.shOption == 2">AND cg.name LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
				<when test="searchVo.shOption == 3">AND c.code_id = #{searchVo.shValue}</when>
				<when test="searchVo.shOption == 4">AND c.name LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
			</choose>
	</select>

	<select id="findCodesByVo" resultMap="resultMapObj">
		SELECT 
			c.code_id AS codeId
			,c.name
			,c.created_at AS createdAt
			,c.updated_at AS updatedAt
			,c.is_used AS isUsed
			,c.codegroup_id AS codegroupId
			,cg.name AS codegroupName
		FROM
			code c
			JOIN codegroup cg ON cg.codegroup_id = c.codegroup_id
		WHERE
			1=1
			<if test="searchVo.shIsUse != null and !searchVo.shIsUse.equals('')">AND c.is_used = #{searchVo.shIsUse}</if>
			<if test="searchVo.shIsDel != null and !searchVo.shIsDel.equals('')">AND c.is_deleted = #{searchVo.shIsDel}</if>
			
			<choose>
				<when test="searchVo.shOptionDate == 1">AND c.created_at BETWEEN CONCAT(#{searchVo.shDateStart}, 'T00:00:00') AND CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')</when>
				<when test="searchVo.shOptionDate == 2">AND c.updated_at BETWEEN CONCAT(#{searchVo.shDateStart}, 'T00:00:00') AND CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')</when>
			</choose>
			
			<choose>
				<when test="searchVo.shOption == 1">AND c.codegroup_id = #{searchVo.shValue}</when>
				<when test="searchVo.shOption == 2">AND cg.name LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
				<when test="searchVo.shOption == 3">AND c.code_id = #{searchVo.shValue}</when>
				<when test="searchVo.shOption == 4">AND c.name LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
			</choose>
		ORDER BY
			code_id DESC
		LIMIT #{pageVo.rowNumToShow} OFFSET #{pageVo.startRnumForMysql}
	</select>

	<select id="findCodeById" resultMap="resultMapObj">
		SELECT
			code_id AS codeId
			,name
			,is_used AS isUsed
			,codegroup_id AS codegroupId
		FROM 
			code
		WHERE
			1=1
			AND code_id = #{codeId}
	</select>

	<insert id="createCode">
		INSERT INTO code(
			name
			,created_at
			,is_used
			,is_deleted
			,codegroup_id
		) VALUES(
			#{name},
			now(),
			#{isUsed},
			0,
			#{codegroupId}
		)
	</insert>
	
	<update id="updateCode">
		UPDATE code SET
			name = #{name}
			,is_used = #{isUsed}
			,updated_at = now()
			,codegroup_id = #{codegroupId}
		WHERE
			1=1
			AND code_id = #{codeId}
	</update>
	
	<update id="softDeleteCode">
		UPDATE code SET
			is_deleted = 1
			,updated_at = now()
		WHERE
			1=1
			AND code_id = #{codeId}
	</update>
	
	<delete id="hardDeleteCode">
		DELETE
		FROM
			code
		WHERE
			code_id = #{codeId}
	</delete>

<!-- ******************************************************************************************************* -->
<!-- 
	<sql id="selectCommon">
		FROM code a
		WHERE 1=1

		<if test="shUseNy != null and !shUseNy.equals('')">AND a.codeUse = #{shUseNy}</if>
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.codeDelNy = #{shDelNy}</if>

		<choose> 
			<when test="shOptionDate == 1">AND a.codeRegDateTime BETWEEN CONCAT(#{shDateStart}, 'T00:00:00') AND CONCAT(#{shDateEnd}, 'T23:59:59')</when> 
			<when test="shOptionDate == 2">AND a.codeModDateTime BETWEEN CONCAT(#{shDateStart}, 'T00:00:00') AND CONCAT(#{shDateEnd}, 'T23:59:59')</when> 
		</choose>

		<choose> 
			<when test="shOption == 1">AND a.seq = #{shValue}</when> 
			<when test="shOption == 2">AND a.codeNm LIKE CONCAT('%',#{shValue},'%')</when> 
		</choose>

	</sql>
 -->
</mapper>