<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.member.MemberDao">

	<resultMap id="resultMapObj" type="com.a2a2lab.module.member.MemberDto"></resultMap>
		
	<!-- 공통 검색조건 -->
	<sql id="searchVo">
		<if test="searchVo.shIsDel != null and !searchVo.shIsDel.equals('')">AND is_deleted = #{searchVo.shIsDel}</if>
		<if test="searchVo.shGender != null and !searchVo.shGender.equals('')">AND gender = #{searchVo.shGender}</if>
		<if test="searchVo.shTel != null and !searchVo.shTel.equals('')">AND mobile_carrier = #{searchVo.shTel}</if>
		
		<choose>
		    <when test="searchVo.shOptionDate == 1">
		        <if test="searchVo.shDateStart != null and searchVo.shDateStart != ''">
		            AND created_at &gt;= CONCAT(#{searchVo.shDateStart}, 'T00:00:00')
		        </if>
		        <if test="searchVo.shDateEnd != null and searchVo.shDateEnd != ''">
		            AND created_at &lt;= CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')
		        </if>
		    </when>
		    <when test="searchVo.shOptionDate == 2">
		        <if test="searchVo.shDateStart != null and searchVo.shDateStart != ''">
		            AND updated_at &gt;= CONCAT(#{searchVo.shDateStart}, 'T00:00:00')
		        </if>
		        <if test="searchVo.shDateEnd != null and searchVo.shDateEnd != ''">
		            AND updated_at &lt;= CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')
		        </if>
		    </when>
		    <when test="searchVo.shOptionDate == 3">
		        <if test="searchVo.shDateStart != null and searchVo.shDateStart != ''">
		            AND birthday &gt;= CONCAT(#{searchVo.shDateStart}, 'T00:00:00')
		        </if>
		        <if test="searchVo.shDateEnd != null and searchVo.shDateEnd != ''">
		            AND birthday &lt;= CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')
		        </if>
		    </when>
		</choose>
		
		<choose>
			<when test="searchVo.shOption == 1">AND email LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
			<when test="searchVo.shOption == 2">AND name LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
			<when test="searchVo.shOption == 3">AND phone LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="countMembersByVo" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			member
		WHERE
			1=1
			<include refid="searchVo"></include>
	</select>

	<select id="findMembersByVo" resultMap="resultMapObj">
		SELECT 
			member_id AS memberId
			,email
			,name
			,gender
			,birthday
			,mobile_carrier AS mobileCarrier
			,phone
			,created_at AS createdAt
			,updated_at AS updatedAt
		FROM
			member
		WHERE
			1=1
			<include refid="searchVo"></include>
		ORDER BY
			member_id DESC
		LIMIT #{pageVo.rowNumToShow} OFFSET #{pageVo.startRnumForMysql}
	</select>
	
	<select id="findMemberById" resultMap="resultMapObj">
		SELECT
			member_id AS memberId
			,email
			,name
			,gender
			,birthday
			,mobile_carrier AS mobileCarrier
			,phone
		FROM 
			member
		WHERE
			1=1
			AND member_id = #{memberId}
	</select>
	
	<select id="findMemberByEmail" resultMap="resultMapObj">
		SELECT
			member_id AS memberId
			,email
			,password
			,name
			,gender
			,birthday
			,mobile_carrier AS mobileCarrier
			,phone
		FROM 
			member
		WHERE
			1=1
			AND email = #{email}
	</select>
	
	<select id="countAllMember" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			member
		WHERE
			is_deleted = 0
	</select>
		
	<insert id="createMember">
		INSERT INTO member(
			email
			,password
			,name
			,gender
			,birthday
			,mobile_carrier
			,phone
			,created_at
			,is_deleted
		) VALUES(
			#{email}
			,#{password}
			,#{name}
			,#{gender}
			,#{birthday}
			,#{mobileCarrier}
			,#{phone}
			,now()
			,0
		)
	</insert>
		
	<update id="updateMember">
		UPDATE member SET
			name = #{name}
			,gender = #{gender}
			,birthday = #{birthday}
			,mobile_carrier = #{mobileCarrier}
			,phone = #{phone}
			,updated_at = now()
		WHERE
			1=1
			AND member_id = #{memberId}
	</update>
	
	<update id="softDeleteMember">
		UPDATE member SET
			is_deleted = 1
			,updated_at = now()
		WHERE
			1=1
			AND member_id = #{memberId}
	</update>
	
	<delete id="hardDeleteMember">
		DELETE
		FROM
			member
		WHERE
			member_id = #{memberId}
	</delete>
		
	<select id="emailChk" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			member
		WHERE
			1=1
			AND email = #{email}
	</select>
	
	<update id="changePwd">
		UPDATE member SET
			password = #{password}
			,updated_at = now()
		WHERE
			1=1
			AND member_id = #{memberId}
	</update>
	
</mapper>