<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.member.MemberDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.module.member.MemberDto"></resultMap>

	<sql id="selectCommon">
		FROM user a
		WHERE 1=1
			
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.userDelNy = #{shDelNy}</if>
		<if test="shGender != null and !shGender.equals('')">AND a.gender = #{shGender}</if>
		<if test="shAdmin != null and !shAdmin.equals('')">AND a.admin = #{shAdmin}</if>
		
<!-- 		<choose>
			<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose> -->
		
		<choose>
			<when test="shOption == 1">AND a.email = #{shValue}</when>
			<when test="shOption == 2">AND a.nickname LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND CONCAT(a.lastNm, a.firstNm) LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
			
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			aa.*
			,aa.seq AS ifcgSeq 
		FROM (
			SELECT
				a.seq
				,a.email
			    ,a.nickname
			    ,a.lastNm
			    ,a.firstNm
			    ,a.gender
			    ,a.birthYear
			    ,a.birthMonth
			    ,a.birthDay
			    ,
			    (
					SELECT codeNm
			        FROM code c
			        WHERE a.mobileCarrier = c.seq
			    ) AS codeNm
			    ,a.phone
			    ,a.admin
			    ,a.password
			<include refid="selectCommon"></include>
			ORDER BY
				seq DESC
			) aa
		WHERE
			aa.seq = #{ifcgSeq}
	</select>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			aa.*
			,aa.seq AS ifcgSeq 
		FROM (
			SELECT
				a.seq
				,a.email
			    ,a.nickname
			    ,a.lastNm
			    ,a.firstNm
			    ,a.gender
			    ,a.birthYear
			    ,a.birthMonth
			    ,a.birthDay
			    ,
			    (
					SELECT codeNm
			        FROM code c
			        WHERE a.mobileCarrier = c.seq
			    ) AS codeNm
			    ,a.phone
			    ,a.admin
			<include refid="selectCommon"></include>
			ORDER BY
				seq DESC
			) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
	
	<select id="loginChk" resultMap="resultMapObj">
		SELECT 
			seq
			,email
			,admin
			,lastNm
		    ,firstNm
		    ,gender
		    ,birthYear
		    ,birthMonth
		    ,birthDay
		    ,phone
		FROM
			user
		WHERE
			1=1
			AND email = #{email}
			AND password = #{password}
	</select>

	<select id="selectMobileCarrierGroup" resultMap="resultMapObj">
		SELECT
			seq AS codeSeq
		    ,codeNm
		FROM
			code
		WHERE
			codeGroup_seq = 1
	</select>
	
	<insert id="insert">
		INSERT INTO user(
			email
			,password
			,nickname
			,lastNm
			,firstNm
			,gender
			,birthYear
			,birthMonth
			,birthDay
			,mobileCarrier
			,phone
			,admin
			,userDelNy
		) VALUES(
			#{email}
			,#{password}
			,#{nickname}
			,#{lastNm}
			,#{firstNm}
			,#{gender}
			,#{birthYear}
			,#{birthMonth}
			,#{birthDay}
			,#{mobileCarrier}
			,#{phone}
			,#{admin}
			,0
		)
		<selectKey resultType="String" keyProperty="seq"
			order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<delete id="delete">
		DELETE
		FROM
			codegroup
		WHERE
			seq = #{seq}
	</delete>
	
	<update id="update">
		UPDATE user SET
			email = #{email}
			,nickname = #{nickname}
			,lastNm = #{lastNm}
			,firstNm = #{firstNm}
			,gender = #{gender}
			,birthYear = #{birthYear}
			,birthMonth = #{birthMonth}
			,birthDay = #{birthDay}
			,mobileCarrier = #{mobileCarrier}
			,phone = #{phone}
			,admin = #{admin}
		WHERE
			seq = #{ifcgSeq}
	</update>
	
	<update id="uelete">
		UPDATE user SET
			userDelNy = 1
		WHERE
			seq = #{seq}
	</update>
	
		<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			seq
			, gender
		FROM
			user
		WHERE 1=1
			AND userDelNy = 0

   </select>
	
</mapper>