<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.member.MemberDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.module.member.MemberDto"></resultMap>

	<sql id="selectCommon">
		FROM user a
		WHERE 1=1
			AND userDelNy = 0
			
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>

	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (
			SELECT
				email
			    ,nickname
			    ,lastNm
			    ,firstNm
			    ,gender
			    ,birthYear
			    ,birthMonth
			    ,birthDay
			    ,phone
			    ,admin
			FROM
				user
			WHERE
				userDelNy = 0
			ORDER BY
				seq DESC
			) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>

	<insert id="insert">
		INSERT INTO user(
			email
			,password
			,nickname
			,lastNm
			,firstNm
			,gender
			,birthYear
			,birthMonth
			,birthDay
			,phone
			,admin
			,userDelNy
		) VALUES(
			#{email}
			,#{password}
			,#{nickname}
			,#{lastNm}
			,#{firstNm}
			,#{gender}
			,#{birthYear}
			,#{birthMonth}
			,#{birthDay}
			,#{phone}
			,0
			,0
		)
		<selectKey resultType="String" keyProperty="seq"
			order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<delete id="delete">
		DELETE
		FROM
			codegroup
		WHERE
			seq = #{seq}
	</delete>
	
	<update id="uelete">
		UPDATE codegroup SET
			codeGroupDelNy = 1
		WHERE
			seq = #{seq}
	</update>
	
	
</mapper>