<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.order.OrderDao">

	<resultMap id="resultMapObj" type="com.a2a2lab.module.order.OrderDto"></resultMap>
	
	<!-- 공통 검색조건 -->
	<sql id="searchVo">
		<if test="shIsDel != null and !shIsDel.equals('')">AND om.is_deleted = #{shIsDel}</if>
		<if test="shStatus != null and !shStatus.equals('')">AND om.status = #{shStatus}</if>
		
		<choose>
		    <when test="shOptionDate == 1">
		        <if test="shDateStart != null and shDateStart != ''">
		            AND om.created_at &gt;= CONCAT(#{shDateStart}, 'T00:00:00')
		        </if>
		        <if test="shDateEnd != null and shDateEnd != ''">
		            AND om.created_at &lt;= CONCAT(#{shDateEnd}, 'T23:59:59')
		        </if>
		    </when>
		</choose>
		
		<choose>
		    <when test="shOptionRange eq 1">
		        <if test="shRangeStart != null and shRangeStart != ''">
		            AND om.price &gt;= #{shRangeStart, jdbcType=INTEGER}
		        </if>
		        <if test="shRangeEnd != null and shRangeEnd != ''">
		            AND om.price &lt;= #{shRangeEnd, jdbcType=INTEGER}
		        </if>
		    </when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND om.order_master_id = #{shValue}</when>
			<when test="shOption == 2">AND mb.name LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="countOrderMastersByVo" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			order_master om
			JOIN member mb ON mb.member_id = om.member_id
		WHERE
			1=1
			<include refid="searchVo"></include>
	</select>

	<select id="findOrderMastersByVo" resultMap="resultMapObj">
		SELECT 
			om.order_master_id AS orderMasterId
			,mb.name AS memberName
			,om.status AS status
			,om.price AS price
			,om.created_at AS createdAt
		FROM
			order_master om
			JOIN member mb ON mb.member_id = om.member_id
		WHERE
			1=1
			<include refid="searchVo"></include>
		ORDER BY
			om.order_master_id DESC
		LIMIT #{pageVo.rowNumToShow} OFFSET #{pageVo.startRnumForMysql}
	</select>
	
	<select id="countOrderMastersByMemberId" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			order_master
		WHERE
			1=1
			AND is_deleted = 0
			AND member_id = #{memberId}
	</select>

	<select id="findOrderMastersByMemberId" resultMap="resultMapObj">
		SELECT 
			order_master_id AS orderMasterId
			,status
			,price
			,created_at AS createdAt
		FROM
			order_master
		WHERE
			1=1
			AND is_deleted = 0
			AND member_id = #{memberId}
		ORDER BY
			order_master_id DESC
		LIMIT #{pageVo.rowNumToShow} OFFSET #{pageVo.startRnumForMysql}
	</select>
	
	<select id="findOrderMasterById" resultMap="resultMapObj">
		SELECT 
			om.order_master_id AS orderMasterId
			,mb.name AS memberName
			,om.status AS status
			,om.price AS price
			,om.created_at AS createdAt
		FROM
			order_master om
			JOIN member mb ON mb.member_id = om.member_id
		WHERE
			om.order_master_id = #{orderMasterId}
	</select>
	
	<select id="findOrderDetailsByOrderMasterId" resultMap="resultMapObj">
		SELECT 
			p.name AS productName
			,od.price AS orderDetailPrice
			,od.quantity AS quantity
			,f.path AS filePath
		FROM
			order_detail od
			JOIN product p ON p.product_id = od.product_id
			JOIN file f ON f.file_id = p.file_id
		WHERE
			od.order_master_id = #{orderMasterId}
	</select>
	
	<select id="countAllOrder" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			order_master
		WHERE
			is_deleted = 0
	</select>
	
	<select id="sumAllOrder" resultType="Integer">
		SELECT
			SUM(price)
		FROM
			order_master
		WHERE
			is_deleted = 0
	</select>
	
	<insert id="saveOrderMaster">
		INSERT INTO order_master(
			status
			,price
			,created_at
			,is_deleted
			,member_id
		) VALUES (
			#{status}
			,#{price}
			,now()
			,0
			,#{memberId}
		)
		<selectKey resultType="String" keyProperty="orderMasterId" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="saveOrderDetail">
		INSERT INTO order_detail(
			quantity
			,price
			,order_master_id
			,product_id
		) VALUES (
			#{quantity}
			,#{orderDetailPrice}
			,#{orderMasterId}
			,#{productId}
		)
	</insert>
	
	<update id="updateOrderMaster">
		UPDATE order_master SET
			status = #{status}
		WHERE
			order_master_id = #{orderMasterId}
	</update>
	
	<update id="softDeleteOrderMaster">
		UPDATE order_master SET
			is_deleted = 1
			,updated_at = now()
		WHERE
			order_master_id = #{orderMasterId}
	</update>
	
	<update id="softDeleteOrderMasterByMemberId">
		UPDATE order_master SET
			is_deleted = 1
			,updated_at = now()
		WHERE
			member_id = #{memberId}
	</update>
	
	<update id="softDeleteOrderMasterByProductId">
		UPDATE order_master SET
			is_deleted = 1
			,updated_at = now()
		WHERE
			product_id = #{productId}
	</update>
	
	<delete id="hardDeleteOrderMaster">
		DELETE
		FROM
			order_master
		WHERE
			order_master_id = #{orderMasterId}
	</delete>

</mapper>