<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.product.ProductDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.module.product.ProductDto"></resultMap>



<!--	<sql id="selectCommon">
		FROM menu a
		WHERE 1=1
			
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.menuDelNy = #{shDelNy}</if>
		<if test="shType != null and !shType.equals('')">AND a.menuType = #{shType}</if>
		<if test="shRecommand != null and !shRecommand.equals('')">AND a.recommand = #{shRecommand}</if>
		<if test="shNew != null and !shNew.equals('')">AND a.menuNew = #{shNew}</if>

		
		<choose>
			<when test="shOption == 1">AND a.menuNm LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND a.menuDescription LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
			
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
			aa.*
			,aa.seq AS ifcgSeq
			,fu.path
		FROM (
			SELECT
				a.seq
				,a.menuNm
				,a.menuPrice
				,a.menuDescription
				,a.calories
				,a.sugars
				,a.protein
				,a.fat
				,a.sodium
				,a.menuType
				,a.recommand
				,a.menuNew
				,a.menuStock
				,a.menuOrderCnt
				,a.menuRating
				,a.fileUploaded_seq
			<include refid="selectCommon"></include>
			ORDER BY
				seq DESC
			) aa
			JOIN fileUploaded fu ON fu.seq = aa.fileUploaded_seq
		WHERE
			aa.seq = #{ifcgSeq}
	</select>

	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			aa.*
			,aa.seq AS ifcgSeq 
		FROM (
			SELECT
				a.seq
				,a.menuNm
				,a.menuPrice
				,a.menuDescription
				,a.calories
				,a.sugars
				,a.protein
				,a.fat
				,a.sodium
				,a.menuType
				,a.recommand
				,a.menuNew
				,a.menuStock
			<include refid="selectCommon"></include>
			ORDER BY
				seq DESC
			) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>

	<insert id="insert">
		INSERT INTO menu(
		    menuNm
			,menuPrice
			,menuDescription
			,calories
			,sugars
			,protein
			,fat
			,sodium
			,menuType
			,recommand
			,menuNew
			,menuStock
			,menuRegDateTime
			,menuDelNy
			,fileUploaded_seq
		) VALUES(
			#{menuNm}
			,#{menuPrice}
			,#{menuDescription}
			,#{calories}
			,#{sugars}
			,#{protein}
			,#{fat}
			,#{sodium}
			,#{menuType}
			,#{recommand}
			,#{menuNew}
			,#{menuStock}
			,now()
			,0
			,#{fileUploaded_seq}
		)
	</insert>
	
	<update id="update">
		UPDATE menu SET
			menuNm = #{menuNm}
			,menuPrice = #{menuPrice}
			,menuDescription = #{menuDescription}
			,calories = #{calories}
			,sugars = #{sugars}
			,protein = #{protein}
			,fat = #{fat}
			,sodium = #{sodium}
			,menuType = #{menuType}
			,recommand = #{recommand}
			,menuNew = #{menuNew}
			,menuStock = #{menuStock}
			,menuModDateTime = #{menuModDateTime}
		WHERE
			seq = #{ifcgSeq}
	</update>
	
	<update id="updateRating">
		UPDATE menu SET
			menuRating = #{menuRating}
			,menuModDateTime = now()
		WHERE
			seq = #{seq}
	</update>
	
	<update id="fileUpdate">
		UPDATE menu SET
			fileUploaded_seq = #{fileUploaded_seq}
		WHERE
			seq = #{ifcgSeq}
	</update>
	
	<update id="uelete">
		UPDATE menu SET
			menuDelNy = 1
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="delete">
		Delete
		FROM
			menu
		WHERE
			seq = #{seq}
	</delete>

	<select id="selectShopList" resultMap="resultMapObj">
		SELECT 
			m.seq
			,m.menuNm
			,m.menuPrice
			,m.menuRating
			,fu.path
		FROM 
			menu m
			JOIN fileUploaded fu ON fu.seq = m.fileUploaded_seq
		WHERE
			1=1
			AND menuDelNy = 0
		ORDER BY
			seq DESC
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
-->	
</mapper>