<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.product.ProductDao">

	<resultMap id="resultMapObj" type="com.a2a2lab.module.product.ProductDto"></resultMap>

	<!-- 공통 검색조건 -->
	<sql id="searchVo">
		<if test="searchVo.shIsDel != null and !searchVo.shIsDel.equals('')">AND p.is_deleted = #{searchVo.shIsDel}</if>
		<if test="searchVo.shType != null and !searchVo.shType.equals('')">AND p.type = #{searchVo.shType}</if>
		<if test="searchVo.shRecommand != null and !searchVo.shRecommand.equals('')">AND p.is_recommand = #{searchVo.shRecommand}</if>
		
		<choose>
		    <when test="searchVo.shOptionDate == 1">
		        <if test="searchVo.shDateStart != null and searchVo.shDateStart != ''">
		            AND p.created_at &gt;= CONCAT(#{searchVo.shDateStart}, 'T00:00:00')
		        </if>
		        <if test="searchVo.shDateEnd != null and searchVo.shDateEnd != ''">
		            AND p.created_at &lt;= CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')
		        </if>
		    </when>
		    <when test="searchVo.shOptionDate == 2">
		        <if test="searchVo.shDateStart != null and searchVo.shDateStart != ''">
		            AND p.updated_at &gt;= CONCAT(#{searchVo.shDateStart}, 'T00:00:00')
		        </if>
		        <if test="searchVo.shDateEnd != null and searchVo.shDateEnd != ''">
		            AND p.updated_at &lt;= CONCAT(#{searchVo.shDateEnd}, 'T23:59:59')
		        </if>
		    </when>
		</choose>
		
		<choose>
		    <when test="searchVo.shOptionRange eq 1">
		        <if test="searchVo.shRangeStart != null and searchVo.shRangeStart != ''">
		            AND p.price &gt;= #{searchVo.shRangeStart, jdbcType=INTEGER}
		        </if>
		        <if test="searchVo.shRangeEnd != null and searchVo.shRangeEnd != ''">
		            AND p.price &lt;= #{searchVo.shRangeEnd, jdbcType=INTEGER}
		        </if>
		    </when>
		    <when test="searchVo.shOptionRange eq 2">
		        <if test="searchVo.shRangeStart != null and searchVo.shRangeStart != ''">
		            AND p.calories &gt;= #{searchVo.shRangeStart, jdbcType=INTEGER}
		        </if>
		        <if test="searchVo.shRangeEnd != null and searchVo.shRangeEnd != ''">
		            AND p.calories &lt;= #{searchVo.shRangeEnd, jdbcType=INTEGER}
		        </if>
		    </when>
		    <when test="searchVo.shOptionRange eq 3">
		        <if test="searchVo.shRangeStart != null and searchVo.shRangeStart != ''">
		            AND p.order_count &gt;= #{searchVo.shRangeStart, jdbcType=INTEGER}
		        </if>
		        <if test="searchVo.shRangeEnd != null and searchVo.shRangeEnd != ''">
		            AND p.order_count &lt;= #{searchVo.shRangeEnd, jdbcType=INTEGER}
		        </if>
		    </when>
		    <when test="searchVo.shOptionRange eq 4">
		        <if test="searchVo.shRangeStart != null and searchVo.shRangeStart != ''">
		            AND p.stock &gt;= #{searchVo.shRangeStart, jdbcType=INTEGER}
		        </if>
		        <if test="searchVo.shRangeEnd != null and searchVo.shRangeEnd != ''">
		            AND p.stock &lt;= #{searchVo.shRangeEnd, jdbcType=INTEGER}
		        </if>
		    </when>
		</choose>
		
		<choose>
			<when test="searchVo.shOption == 1">AND p.product_id = #{searchVo.shValue}</when>
			<when test="searchVo.shOption == 2">AND p.name LIKE CONCAT('%',#{searchVo.shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="countProductsByVo" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			product p
		WHERE
			1=1
			<include refid="searchVo"></include>
	</select>

	<select id="findProductsByVo" resultMap="resultMapObj">
		SELECT 
			p.product_id AS productId
			,p.type
			,p.name
			,p.price
			,p.calories
			,p.is_recommand AS isRecommand
			,p.order_count AS orderCount
			,p.stock
			,p.rating
			,p.created_at AS createdAt
			,p.updated_at AS updatedAt
			,f.path AS filePath
		FROM
			product p
			JOIN file f ON f.file_id = p.file_id
		WHERE
			1=1
			<include refid="searchVo"></include>
		ORDER BY
			p.product_id DESC
		LIMIT #{pageVo.rowNumToShow} OFFSET #{pageVo.startRnumForMysql}
	</select>

	<select id="findProductById" resultMap="resultMapObj">
		SELECT
			p.product_id AS productId
			,p.type
			,p.name
			,p.price
			,p.description
			,p.calories
			,p.sugars
			,p.protein
			,p.fat
			,p.sodium
			,p.stock
			,p.rating
			,p.is_recommand AS isRecommand
			,p.file_id AS fileId
			,f.path AS filePath
		FROM 
			product p
			JOIN file f ON f.file_id = p.file_id
		WHERE
			1=1
			AND p.product_id = #{productId}
	</select>

	<insert id="createProduct">
		INSERT INTO product(
			type
			,name
			,price
			,description
			,calories
			,sugars
			,protein
			,fat
			,sodium
			,stock
			,order_count
			,is_recommand
			,created_at
			,is_deleted
			,file_id
		) VALUES(
			#{type}
			,#{name}
			,#{price}
			,#{description}
			,#{calories}
			,#{sugars}
			,#{protein}
			,#{fat}
			,#{sodium}
			,#{stock}
			,0
			,#{isRecommand}
			,now()
			,0
			,#{fileId}
		)
	</insert>
	
	<update id="updateProduct">
		UPDATE product SET
			type = #{type}
			,name = #{name}
			,price = #{price}
			,description = #{description}
			,calories = #{calories}
			,sugars = #{sugars}
			,protein = #{protein}
			,fat = #{fat}
			,sodium = #{sodium}
			,stock = #{stock}
			,is_recommand = #{isRecommand}
			,updated_at = now()
		WHERE
			product_id = #{productId}
	</update>
	
	<update id="softDeleteProduct">
		UPDATE product SET
			is_deleted = 1
			,updated_at = now()
		WHERE
			product_id = #{productId}
	</update>
	
	<delete id="hardDeleteProduct">
		DELETE
		FROM
			product
		WHERE
			product_id = #{productId}
	</delete>

	<update id="fileUpdate">
		UPDATE product SET
			file_id = #{fileId}
		WHERE
			product_id = #{productId}
	</update>
	
	<update id="updateRating">
		UPDATE product SET
			rating = #{rating}
			,updated_at = now()
		WHERE
			product_id = #{productId}
	</update>
	
	<update id="updateOrderCountByProductId">
		UPDATE 
			product 
		SET
			order_count = order_count + #{orderCount} 
			,updated_at = now()
		WHERE 
			product_id = #{productId}
	</update>

</mapper>