<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.review.ReviewDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.module.review.ReviewDto"></resultMap>

	<sql id="selectCommon">
		FROM review a
			JOIN user u ON u.seq = a.user_seq
			JOIN menu m ON m.seq = a.menu_seq
		WHERE 1=1
			
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.reviewDelNy = #{shDelNy}</if>

		<choose>
			<when test="shOption == 1">AND m.menuNm LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND u.nickname LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND a.reviewDescription LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
			
	</sql>

	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="findAvgRatingByMenuSeq" resultType="Integer">
		SELECT
			ROUND(AVG(reviewRate))
		FROM
			review
		WHERE
			menu_seq = #{menu_seq}
	</select>
	
	<select id="reviewCount" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			review
		WHERE
			reviewDelNy = 0
	</select>

	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			aa.* 
		FROM (
			SELECT
				a.seq
				,a.reviewDate
				,a.reviewRate
				,a.reviewDescription
				,a.user_seq
				,a.menu_seq
				,u.nickname
				,m.menuNm
			<include refid="selectCommon"></include>
			) aa
		ORDER BY
			seq DESC
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>

	<insert id="insert">
		INSERT INTO review(
			reviewDate
			,reviewRate
			,reviewDescription
			,reviewDelNy
			,user_seq
			,menu_seq
		) VALUES(
			#{reviewDate}
			,#{reviewRate}
			,#{reviewDescription}
			,0
			,#{user_seq}
			,#{menu_seq}
		)
	</insert>
	
	<update id="uelete">
		UPDATE review SET
			reviewDelNy = 1
		WHERE
			seq = #{seq}
	</update>
	
	<delete id="delete">
		Delete
		FROM
			review
		WHERE
			seq = #{seq}
	</delete>

	<select id="getReviewListByMenuSeq" resultMap="resultMapObj">
		SELECT
			r.seq
			,r.reviewDate
			,r.reviewRate
			,r.reviewDescription
			,u.nickname
		FROM
			review r
			JOIN user u ON u.seq = r.user_seq
		WHERE
			1=1
		    AND r.menu_seq = #{menu_seq}
		    AND r.reviewDelNy = 0
		ORDER BY
			r.seq DESC
	</select>
	
</mapper>