<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.module.upload.UploadDao">

	<resultMap id="resultMapObj" type="com.a2a2lab.module.upload.UploadDto"></resultMap>

	<insert id="localUpload">
		INSERT INTO file(
		    type
			,sort
			,path
			,original_name
			,uuid_name
			,ext
			,size
			,created_at
			,is_deleted
		) VALUES(
			#{type}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,now()
			,0
		)
		<selectKey resultType="String" keyProperty="fileId" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
</mapper>