<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

<!-- Main -->

<main id="main" class="main">
	<form name="formList" id="formList" method="post" autocomplete="off">
		<input type="hidden" name="thisPage" th:value="${vo.thisPage}"
			default="1" /> 
		<input type="hidden" id="rowNumToShow"
			name="rowNumToShow" th:value="${vo.rowNumToShow}" />
		<input type="hidden" name="choice">
		
		<div class="pagetitle">

			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">서비스관리</li>
					<li class="breadcrumb-item active">주문관리</li>
				</ol>
			</nav>

			<h1 style="font-weight: bold;">주문관리</h1>

			<div class="row mb-3 mt-3">
				<div class="col-2">
					<select id="shDelNy" name="shDelNy" class="form-select">
						<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
						<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
						<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
					</select>
				</div>
				
				<div class="col-2">
					<select id="shStatus" name="shStatus" class="form-select">
						<option value="" th:selected="${vo.shStatus == null}">주문상태</option>
						<option value="0" th:selected="${vo.shStatus == 0}">주문접수</option>
						<option value="1" th:selected="${vo.shStatus == 1}">준비중</option>
						<option value="2" th:selected="${vo.shStatus == 2}">주문완료</option>
						<option value="3" th:selected="${vo.shStatus == 3}">주문취소</option>
					</select>
				</div>
				
				<div class="col-2">
					<select id="shTakeOut" name="shTakeOut" class="form-select">
						<option value="" th:selected="${vo.shTakeOut == null}">포장</option>
						<option value="0" th:selected="${vo.shTakeOut == 0}">X</option>
						<option value="1" th:selected="${vo.shTakeOut == 1}">O</option>
					</select>
				</div>
				
			</div>
			
			<div class="row mb-3 mt-3">
			
				<div class="col-2">
					<select id="shOption" name="shOption" class="form-select">
						<option value="" th:selected="${vo.shOption == null}">검색구분</option>
						<option value="1" th:selected="${vo.shOption == 1}">주문번호</option>
						<option value="2" th:selected="${vo.shOption == 2}">닉네임</option>
					</select>
				</div>
				<div class="col-2">
					<input id="shValue" name="shValue" type="text" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" class="form-control">
					<div class="invalid-feedback" id="shValueFeedback"></div>
				</div>
				<div class="col-2">
					<button type="button" class="btn btn-outline-secondary" id="btnSearch"> 
						<i class="ri-search-line"></i>
					</button> 
					<a href="" class="btn btn-outline-secondary">
						<i class="ri-reset-right-line"></i>
					</a>
				</div>
				
			</div>


		</div>

		<!-- End Page Title -->


		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body m-2">

							<div class="row">
								<div class="col">
									<h5 class="card-title" th:text="|Total: ${vo.totalRows}|"></h5>
								</div>
								<div class="col-2 pt-2" style="float: right;">
									<select id="changeRowNum" name="changeRowNum" class="form-select">
										<option value="5" th:selected="${vo.rowNumToShow eq 5}">5</option>
										<option value="10" th:selected="${vo.rowNumToShow eq 10}">10</option>
										<option value="30" th:selected="${vo.rowNumToShow eq 30}">30</option>
										<option value="50" th:selected="${vo.rowNumToShow eq 50}">50</option>
										<option value="80" th:selected="${vo.rowNumToShow eq 80}">80</option>
										<option value="100" th:selected="${vo.rowNumToShow eq 100}">100</option> 
									</select>
								</div>
							</div>

							<!-- Table with stripped rows -->
							<div class="row">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>
												<input class="form-check-input" type="checkbox"
														id="selectAllCheckbox" onclick="toggleSelectAll(this)">
											</th>
											<th>#</th>
											<th>주문번호</th>
											<th>닉네임</th>
											<th>주문날짜</th>
											<th>주문상태</th>
											<th>총합</th>
											<th>포장</th>
										</tr>
									</thead>
									<tbody>
									
										<tr th:if="${#lists.isEmpty(lists)}">
											<td colspan=8 style="text-align: center">
												<p>There are no data!</p>
											</td>
										</tr>
										<tr th:each="list : ${lists}">
											<td>
												<input class="form-check-input rowCheckbox" type="checkbox" name="seq" th:value="${list.seq}">
											</td>
											<td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
											
											<td class="align-middle fw-semi-bold">
												<a href="javascript:void(0);" th:text="${list.seq}" th:attr="onclick=|goForm('${list.seq}')|"></a>
											</td>
											
											<td th:text="${list.nickname}"></td>
											<td th:text="${list.ordersDate}"></td>
											
											<td>
												<select class="form-select form-select-sm" id="selectOrdersStatus" th:data-seq="${list.seq}">
													<option value="0" th:selected="${list.ordersStatus == 0}">주문접수</option>
													<option value="1" th:selected="${list.ordersStatus == 1}">준비중</option>
													<option value="2" th:selected="${list.ordersStatus == 2}">주문완료</option>
													<option value="3" th:selected="${list.ordersStatus == 3}">주문취소</option>
												</select>
											</td>
														
											<td th:text="${list.totalPrice}"></td>
											
											<td th:text="${list.takeOut == 1 ? 'O' : 'X'}"></td>
											
										</tr>

									</tbody>
								</table>
							</div>
							<!-- End Table with stripped rows -->

							<!-- Pagination with icons -->
							<div class="row">
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">

										<li th:if="${vo.startPage gt vo.pageNumToShow}"
											class="page-item" style="cursor: pointer;"><a
											class="page-link"
											href="javascript:goList(${vo.startPage - 1})"
											th:attr="onclick=|goList('${vo.startPage - 1}')|"> <i
												class="fa-solid fa-angle-left"></i>
										</a></li>
										<li
											th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
											th:classappend="${num eq vo.thisPage} ? active : ''"
											class="page-item" style="cursor: pointer;"><a
											class="page-link" th:attr="onclick=|goList('${num}')|"
											th:text="${num}">
												<!-- ${i.index} -->
										</a></li>
										<li th:if="${vo.endPage ne vo.totalPages}" class="page-item"
											style="cursor: pointer;"><a class="page-link"
											th:attr="onclick=|goList('${vo.endPage + 1}')|"> <i
												class="fa-solid fa-angle-right"></i>
										</a></li>

									</ul>
								</nav>
							</div>
							<!-- End Pagination with icons -->

							<div class="row">
								<div class="col">
									<button type="button" id="btnDelete" class="btn btn-danger"> 
										<i class="ri-close-large-line"></i>
									</button>
									<button type="button" id="btnUelete" class="btn btn-danger"> 
										<i class="ri-delete-bin-line"></i>
									</button>
								</div>
							</div>
							
						</div>
					</div>

				</div>
			</div>
			
			<!-- 			Modal -->
			<div class="modal fade" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalConfirmTitle">title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body" id="modalConfirmBody">
							body
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary btn-sm btn_custom" data-bs-dismiss="modal"><i class="fa-solid fa-angle-left fa-lg"></i></button>
							<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalDelete"><i class="fa-solid fa-x fa-lg"></i></button>
							<button type="button" class="btn btn-danger btn-sm btn_custom" name="" id="btnModalUelete"><i class="far fa-trash-alt fa-lg"></i></button>
						</div>
					</div>
				</div>
			</div>	
			
		</section>

	</form>
</main>

<!-- End #main -->

<!-- temp -->
<script type="text/javascript">
	
	let rowCheckboxes = document.querySelectorAll('.rowCheckbox');
	let currentPath = window.location.pathname;
	let links = document.querySelectorAll(".nav-content a");	
	
		// 전체 선택/해제 함수
		function toggleSelectAll(source) {
		    // 모든 체크박스에 대해 상태를 '전체 선택' 체크박스 상태에 맞게 설정
		    rowCheckboxes.forEach((checkbox) => {
		        checkbox.checked = source.checked;
		    });
		}

		// 페이징
		let form = document.querySelector("form[name=formList]");
		goList = function (thisPage) {
		    document.querySelector("input[name=thisPage]").value = thisPage;
		    form.action = "/Xdm/ordersXdmList";
		    form.submit();
		}
				
		// 검색
		document.getElementById("btnSearch").onclick = function () {
		    form.action = "/Xdm/ordersXdmList";
		    form.submit();
		};
		
		// 테이블 행 출력 개수
		document.getElementById("changeRowNum").onchange = function () {
		    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
		    form.action = "/Xdm/ordersXdmList";
		    form.submit();
		}
		
		
		
		document.addEventListener("DOMContentLoaded", function () {

			// 사이드바 현재화면 위치 active
		    links.forEach(link => {
		        if (link.getAttribute("href") === currentPath) {
		        	const navContent = link.closest(".nav-content");
		            const navLink = navContent.previousElementSibling; // 부모 메뉴의 <a> 태그 찾기
		            
		            link.classList.add("active");
		            navContent.classList.add("show"); // 메뉴 열기
		            navLink.classList.remove("collapsed"); // collapsed 제거
		        }
		    });
		    
		 	// 체크박스
		    rowCheckboxes.forEach(checkbox => {
	            checkbox.addEventListener("change", function () {
	                let allChecked = document.querySelectorAll(".rowCheckbox:checked").length === rowCheckboxes.length;
	                selectAllCheckbox.checked = allChecked;
	            });
	        });
		});
		
		// Uelete
		// Modal 먼저 실행
		if(document.getElementById("btnUelete")){
			document.getElementById("btnUelete").onclick = function () {
				document.querySelector("#modalConfirmTitle").textContent = "확 인";
				document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
				document.querySelector("#btnModalUelete").style.display = '';
				document.querySelector("#btnModalDelete").style.display = 'none';
				
				let modal = new bootstrap.Modal(document.getElementById("modalConfirm"));
	            modal.show();     	
			}
		}
		// Modal에서 확인 버튼 누르면
		document.getElementById("btnModalUelete").onclick = function () {

			let selected = document.querySelectorAll(".rowCheckbox:not(:checked)");
			selected.forEach((s) => {
				s.value = '';
			});

			form.action = "/Xdm/ordersXdmUele";
			form.submit();
		}
		
		// Delete
		// Modal 먼저 실행
		document.getElementById("btnDelete").onclick = function () {
			document.querySelector("#modalConfirmTitle").textContent = "확 인";
			document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
			document.querySelector("#btnModalUelete").style.display = 'none';
			document.querySelector("#btnModalDelete").style.display = '';
			
			let modal = new bootstrap.Modal(document.getElementById("modalConfirm"));
            modal.show();     	
		}
		// Modal에서 확인 버튼 누르면
		document.getElementById("btnModalDelete").onclick = function () {

			let selected = document.querySelectorAll(".rowCheckbox:not(:checked)");
			selected.forEach((s) => {
				s.value = '';
			});

			form.action = "/Xdm/ordersXdmDele";
			form.submit();
		}
		
		// 주문상태 변경
		document.querySelectorAll("#selectOrdersStatus").forEach(select => {
		    select.addEventListener("change", function() {
		        const seq = this.getAttribute("data-seq");  // 행의 seq 값 가져오기
		        const newStatus = this.value;  // 변경된 값 가져오기

		        $.ajax({
					async: true 
					,cache: false
					,type: "post"
					,url: "/Xdm/ordersXdmUdpt"
					,data : { 
						"seq" : seq
						,"ordersStatus" : newStatus
						}
		        	,success : function(){
						alert("변경되었습니다.");
					}
					,error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
		        
		    });
		});
		
		let seq = document.querySelector("input[name=choice]");
		
		goForm = function (keyValue) {
		    seq.value = keyValue;
		    form.action = "/Xdm/ordersXdmOne";
		    form.submit();
		}
	
	</script>

<!-- ******************************************************************************* -->

<div th:replace="~{xdm/include/footer :: footer}"></div>