<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>


      <!-- 작업중 -->
      <!-- ************************************************************** -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Home</h1>

    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


            <!-- Sales Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                
                  <h5 class="card-title">주문량</h5>
                  
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="${ordersCount}"></h6>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                
                  <h5 class="card-title">총매출</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bx bx-won"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="'￦ ' + ${#numbers.formatInteger(ordersSum != null ? ordersSum : 0, 1, 'COMMA')}"></h6>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div><!-- End Revenue Card -->

            <!-- Reviews Card -->
            <div class="col-xxl-3 col-xl-12">

              <div class="card info-card reviews-card">
                <div class="card-body">
                
                  <h5 class="card-title">리뷰수</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-card-text"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="${reviewCount}"></h6>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div><!-- End Reviews Card -->
            
            <!-- Members Card -->
            <div class="col-xxl-3 col-xl-12">

              <div class="card info-card members-card">
                <div class="card-body">
                
                  <h5 class="card-title">회원수</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="${memberCount}"></h6>
                    </div>
                  </div>

                </div>
              </div>
            </div><!-- End Members Card -->

            


          </div>

    </section>

  </main><!-- End #main -->

	<script>
	document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname; // 현재 페이지의 경로
        document.querySelectorAll(".nav-link").forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.remove("collapsed");
                link.classList.add("active");  // 'active' 클래스 추가
            }
        });
    });
	</script>

<div th:replace="~{xdm/include/footer :: footer}"></div>