<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="cartFragment">
	<h4 class="mb-3">장바구니</h4>
	
	<form action="/tableOrder/order/checkout" method="post">
		<div class="cartList" th:each="item : ${list}">
			<div class="row mb-3">
				<input type="hidden" name="cartId" th:value="${item.cartId}">
				<div class="col">
					<img th:src="${item.filePath}" class="img-fluid rounded">
				</div>
				<div class="col">
					<div class="mb-1 d-flex justify-content-between align-items-center">
						<h6 class="mb-0" th:text="${item.productName}"></h6>
						<button type="button"
							class="btn btn-sm btn-delete rounded-circle bg-light border text-danger">
							<i class="fa fa-times"></i>
						</button>
					</div>
					<div class="mb-1" th:if="${item.rating == null}">
						<h5 class="fw-bold">평점 없음</h5>
					</div>
					<div class="d-flex mb-1" th:if="${item.rating != null}">
						<span th:each="i : ${#numbers.sequence(1, 5)}"> <i
							class="fa fa-star"
							th:classappend="${i <= item.rating} ? ' text-secondary' : ' text-muted'"></i>
						</span>
					</div>
					<div class="mb-1">
						<h5 class="fw-bold me-2 item-price"
							data-price="${item.price}" th:text="${item.price} + ' 원'"></h5>
					</div>
					<div class="input-group quantity mb-1" style="width: 100px;">
						<div class="input-group-btn">
							<button type="button"
								class="btn btn-sm btn-minus rounded-circle bg-light border">
								<i class="fa fa-minus"></i>
							</button>
						</div>
						<input type="text" style="background-color: #FFFFFF;"
							class="form-control form-control-sm text-center border-0 item-qty"
							th:value="${item.quantity}" readonly>
						<div class="input-group-btn">
							<button type="button"
								class="btn btn-sm btn-plus rounded-circle bg-light border">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row py-3">
			<div class="col">
				<h4 class="mb-3">합계:</h4>
			</div>
			<div class="col text-end">
				<h4 class="mb-3">
					<span id="cart-total">0 원</span>
				</h4>
			</div>
		</div>

		<div class="row p-3">
			<button type="submit"
				class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">주문하기</button>
		</div>
	</form>
</div>

<script>
	
</script>