<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="orderDetailsFragment">
  <div class="row g-5">
      <div class="col">
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col" class="text-center">메뉴</th>
                          <th scope="col" class="text-center">메뉴명</th>
                          <th scope="col" class="text-center">가격</th>
                          <th scope="col" class="text-center">개수</th>
                          <th scope="col" class="text-center">합계</th>
                          <th scope="col" class="text-center">취소</th>
                      </tr>
                  </thead>
                  <tbody id="tbody">
                      <tr class="item-row text-center" th:each="item : ${list}">
                          <td scope="row">
                          	<input type="hidden" name="cartId" th:value="${item.cartId}">
                          	<input type="hidden" name="productId" th:value="${item.productId}">
                          	<input type="hidden" name="orderDetailPrice" th:value="${item.price}">
                              <div class="align-items-center mt-2">
                                  <img th:src="${item.filePath}"
                                      class="img-fluid rounded-circle" style="width: 90px; height: 90px;"
                                      alt="">
                              </div>
                          </td>
                          <td class="py-5 text-center item-name" th:text="${item.productName}"></td>
                          <td class="py-5 text-center item-price" 
                          	  th:attr="data-price=${item.price}" 
                          	  th:text="${#numbers.formatInteger(item.price, 1, 'COMMA')} + ' 원'">
                          </td>
                          
                          <td class="text-center align-middle">
                           <div class="input-group mx-auto text-center" style="width: 100px;">
                             <div class="input-group-btn">
				               <button type="button" class="btn btn-sm btn-minus rounded-circle bg-light border">
				                 <i class="fa fa-minus"></i>
				               </button>
				             </div>
				             <input type="text" name="quantity" style="background-color:#FFFFFF;" class="form-control form-control-sm text-center border-0 item-qty" th:value="${item.quantity}" readonly>
				             <div class="input-group-btn">
				               <button type="button" class="btn btn-sm btn-plus rounded-circle bg-light border">
				                 <i class="fa fa-plus"></i>
				               </button>
				             </div>
				           </div>
                          </td>
                          
                          <td class="py-5 text-center item-total" 
                          	  th:value="${item.price * item.quantity}" 
                          	  th:text="${#numbers.formatInteger(item.price * item.quantity, 1, 'COMMA')} + ' 원'"></td>
                      	<td class="text-center align-middle">
                      		<button type="button" class="btn btn-md rounded-circle bg-light border btn-delete">
                      			<i class="fa fa-times text-danger"></i>
                      		</button>
                      	</td>
                      </tr>
                  </tbody>
                  
                  <tfoot>
                  	  <tr>
                          <td class="py-5"></td>
                          <td class="py-5"></td>
                          <td class="py-5"></td>
                          <td class="py-5"></td>
                          <td class="py-5 text-center">
                              <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                          </td>
                          <td class="py-5">
                              <div class="py-3 text-center border-bottom border-top">
                                  <p class="mb-0 text-dark total-sum">0 원</p>
                                  <input type="hidden" id="odTotalPrice" name="odTotalPrice">
                              </div>
                          </td>
                      </tr>
                  </tfoot>
              </table>
          </div>
          
          <div class="row g-4 justify-content-end pt-4">
              <div class="col-12 col-md-3 order-2 order-md-1">
                  <a href="/tableOrder/shop/list"
                      class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">
                      <i class="vc_btn3-icon fas fa-arrow-left pe-2"></i>
                      뒤로가기
                  </a>
              </div>
              <div class="col-12 col-md-3 order-1 order-md-2">
                  <button type="button" class="btn btn-primary py-3 px-4 text-uppercase w-100 text-white"
                      data-bs-toggle="modal" data-bs-target="#checkoutModal">
                      TEST용 결제
                  </button>
              </div>
			  <div class="col-12 col-md-3 order-1 order-md-2">
                <button type="button" 
						class="btn btn-primary py-3 px-4 text-uppercase w-100 text-white"
						onclick="requestPayment()">
                    결제
                </button>
            </div>
          </div>
          
          <!-- Modal Start-->
          <div class="modal fade" id="checkoutModal" data-bs-backdrop="static"
              data-bs-keyboard="false" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="checkoutModalLabel">성공</h1>
                      </div>
                      <div class="modal-body">
                          결제가 완료되었습니다.
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">확인</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Modal End -->
      </div>
  </div>
</div>