<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

<!-- Main -->
<main id="main" class="main">

	<div class="pagetitle mb-5">

		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/Xdm/index">Home</a></li>
				<li class="breadcrumb-item">시스템 관리</li>
				<li class="breadcrumb-item active">코드 관리</li>
			</ol>
		</nav>

		<h1 style="font-weight: bold;">코드 관리</h1>


	</div>
	<!-- End Page Title -->

	<section class="section">
		<form action="" method="post" id="form" class="needs-validation" novalidate>
		
			<div class="row">
				<div class="col-lg-12">

					<div class="card">

						<h5 class="card-header" style="font-weight: bold; color: #4b4b4b;">
							기본 정보</h5>

						<div class="card-body m-2">

							<!-- Pagination with icons -->
							<div class="row mb-3 mt-3">
								<div class="row mb-3">
									<div class="col-3">
										<label for="codegroupId" class="form-label">코드그룹<b style="color: red;">*</b></label> 
										<select name="codegroupId" id="codegroupId" class="form-select" required>
											<option disabled hidden th:selected="${item?.codegroupId == null}" value="">선택하세요</option>
											<option th:each="codegroup : ${codegroupList}"
													th:value="${codegroup.codegroupId}" 
													th:text="${codegroup.name}" 
													th:selected="${codegroup.codegroupId == item?.codegroupId}">
											</option>
										</select>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-3">
										<label class="form-label">코드 번호<b style="color: red;">*</b></label> 
										<input type="text" id="codeId" th:value="${item?.codeId}" maxlength="20" placeholder="자동생성" class="form-control" disabled>
										<input type="hidden" name="codeId" th:value="${item?.codeId}">
									</div>
									<div class="col-3">
										<label for="name" class="form-label">코드 이름<b style="color: red;">*</b></label> 
										<input name="name" id="name" th:value="${item?.name}" type="text" class="form-control" placeholder="한글,영대소문자,숫자" required>
										<div class="invalid-feedback" id="nameFeedback"></div>
									</div>
									<div class="col-3">
										<label for="isUsed" class="form-label">사용 여부<b style="color: red;">*</b></label> 
										<select name="isUsed" id="isUsed" class="form-select">
											<option value="1" th:selected="${item?.isUsed == 1}">사용</option>
											<option value="0" th:selected="${item?.isUsed == 0}">사용 안 함</option>
										</select>
									</div>
								</div>


							</div>
							<!-- End Pagination with icons -->

							<div class="row">
								<div class="col">
									<a href="/xdm/system/code/list" class="btn btn-outline-secondary">
										<i class="ri-list-check"></i>
									</a>
								</div>
								<div class="col">
									<div style="float: right;">
										<button type="button" class="btn btn-primary" id="btnSubmit">
											<i class="bi bi-database-fill"></i>
										</button>
									</div>
								</div>
							</div>
							
						</div>
					</div>

				</div>
			</div>

		</form>
	</section>

</main>
<!-- End #main -->

<!-- ******************************************************************************* -->

<!-- temp -->
<script type="text/javascript">

// 	let codeNm = document.getElementById("codeNm");
// 	let exampleModal = document.getElementById('exampleModal');
// 	let close = document.getElementById('close');
// 	let modalContent = document.getElementById('modalContent');
	
	  
/* 	document.getElementById("btnSubmit").onclick = function() {

	      
		if (codeNm.value.trim() == null || codeNm.value.trim() == "") {
			
			let myModal = new bootstrap.Modal(exampleModal);
			myModal.show();
			
			close.addEventListener("mouseover", () => {
				close.classList.replace("btn-secondary", "btn-danger");
// 				modalContent.style.cssText = "border-width: 5px; border-color: red;";				
			});
			
			close.addEventListener("mouseout", () => {
				close.classList.replace("btn-danger", "btn-secondary");
// 				modalContent.style.cssText = "border-width: 2px; border-color: rgba(0, 0, 0, 0.176);";	
			});
			
			close.addEventListener("click", () => {
				myModal.hide();
			});

			exampleModal.addEventListener("hidden.bs.modal", (event) => {

				if (!form.checkValidity()) {
			        event.preventDefault()
			        event.stopPropagation()
			      }

			      form.classList.add('was-validated')
			      
			      
				codeNm.focus();
			});
			    
			return false;
		}

		
		
		document.getElementById("form").submit();
	}
*/
	
/* 	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(() => {
	  'use strict'

	  // Fetch all the forms we want to apply custom Bootstrap validation styles to
	  const forms = document.querySelectorAll('.needs-validation')

	  // Loop over them and prevent submission
	  Array.from(forms).forEach(form => {
	    form.addEventListener('submit', event => {
	      if (!form.checkValidity()) {
	        event.preventDefault()
	        event.stopPropagation()
	      }

	      form.classList.add('was-validated')
	    }, false)
	  })
	})() */
	
	let id = document.querySelector("input[name=codeId]");							/* ### */
	
// 	function validationInst() {
// 	    if(validationUpdt() == false) return false;
// 	}
	
// 	function validationUpdt() {
//  		if(!checkOnlyEnglishNumber('ifcgSeqAnother', 2, 1, "코드그룹 코드 (Another)는 영대소문자, 숫자만 입력 가능합니다.")) return false;

// 	}


// 	// 유효성 검사
// 	function validation() {
// 	    const form = document.querySelector('.needs-validation'); // 단일 폼 선택
// 	    const inputCodeNm = form.querySelector("input[name='codeNm']"); // 코드 이름 입력 필드
// 	    const selectCodeGroupSeq = form.querySelector("select[name='codeGroup_seq']"); // 코드 그룹 선택 필드
	
// 	    // 코드 그룹이 선택되지 않은 경우
// 	    if (!selectCodeGroupSeq.value) { 
// 	        form.classList.add("was-validated");
// 	        selectCodeGroupSeq.focus();
// 	        return false;
// 	    }
// 	    // 코드 이름이 비어 있는 경우
// 	    if (!inputCodeNm.value.trim()) {
// 	        form.classList.add("was-validated");
// 	        inputCodeNm.focus();
// 	        return false;
// 	    }
	
// 	    return true;
// 	}
	
	document.getElementById("btnSubmit").onclick = function () {
		if(id.value == "0" || id.value == "") {
// 			if(validation() == false) return false;
// 			$("#modalLoading").modal("show");
			form.action = "/xdm/system/code/create";
			form.submit();
		} else {
// 			if(validation() == false) return false;
// 			$("#modalLoading").modal("show");
			form.action = "/xdm/system/code/update";
			form.submit();
		}
	}
	
// 	document.addEventListener("DOMContentLoaded", function () {
// 	    const inputCodeNm = document.querySelector("input[name='codeNm']");

// 	    inputCodeNm.addEventListener("input", function () {
// 	        // 첫 글자가 공백이면 자동 제거
// 	        this.value = this.value.replace(/^\s+/, "");
// 	    });
// 	});
	
</script>

<!-- ******************************************************************************* -->


<div th:replace="~{xdm/include/footer :: footer}"></div>