<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="head">
<head>
    <meta charset="utf-8">
    <title>TableOrder</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

	<!-- Favicon -->
	<link href="/usr/template/onlineMenuBoard/assets/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/usr/template/onlineMenuBoard/assets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/usr/template/onlineMenuBoard/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/usr/template/onlineMenuBoard/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/usr/template/onlineMenuBoard/assets/css/style.css" rel="stylesheet">
    
    <script src="/xdm/jquery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/xdm/css/jquery.datetimepicker.css">
  	<script src="/xdm/js/jquery.datetimepicker.full.js"></script>
</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar start -->
    <div class="container-fluid fixed-top shadow">
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="/tableOrder/shop/list" class="navbar-brand"><h1 class="text-primary display-6">TableOrder</h1></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="/tableOrder/shop/list" class="nav-item nav-link">전체 메뉴</a>
                        <a href="/tableOrder/shop/list" class="nav-item nav-link">추천 메뉴</a>
                        <a href="/TableOrder/shopDetail" class="nav-item nav-link">버거</a>
                        <a href="shop-detail.html" class="nav-item nav-link">치킨</a>
                        <a href="shop-detail.html" class="nav-item nav-link">음료</a>
                    </div>

                    <div class="d-flex m-3 me-0">
                        <div class="nav-item dropdown">
                            <a href="account-edit.html" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">
                            	<i class="fas fa-user fa-2x"></i>
                            </a>
                            <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                <!-- 로그인 안 한 경우 보여줄 항목 -->
					            <div sec:authorize="isAnonymous()">
					                <a href="/tableOrder/sign/loginView" class="dropdown-item">로그인</a>
					                <a href="/tableOrder/sign/registerView" class="dropdown-item">회원가입</a>
					            </div>
					
					            <!-- 로그인 한 경우 보여줄 항목 -->
					            <div sec:authorize="isAuthenticated()">
					                <form action="/logout" method="POST">
					                    <button type="submit" class="dropdown-item">로그아웃</button>
					                </form>
					                <a href="/tableOrder/sign/editView" class="dropdown-item">개인정보 수정</a>
					                <a href="/tableOrder/sign/changePwdView" class="dropdown-item">비밀번호 변경</a>
					                <a href="/tableOrder/order/history" class="dropdown-item">주문 내역</a>
					            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    
</th:block>